@import './variables-and-mixins.less';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-weight: normal;
}

body {
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    height: 100vh;
    font-family: sans-serif;
    font-size: 1.5em;
    color: @color-white;
}

a {
    text-decoration: none;
}

button {
    background: transparent;
    padding: 0;
    outline: none;
    border: none;
    cursor: pointer;
}

img {
    max-width: 100%;
}

input {
    border: none;
    outline: none;
    background: transparent;
}

.container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 100%;
    max-width: 1024px;
    margin: auto;
    @media(max-width: 576px) {
        padding: 10px;
    }
}

.header {
    .col_width(50%);
    .flex-block(row, nowrap, space-between, center);
    .default-block();
    margin-bottom: 20px;
    position: relative;
    @media(max-width: 576px) {
        .col_width(100%);
    }
    &__title {
        &-block {
            .flex-block(row, nowrap, flex-start, center);
        }
        &-name {
            font-size: 20px;
            @media(max-width: 576px) {
                font-size: 18px;
            }
        }
        &-icon {
            .icon();
        }
    }
    &__buy {
        .button(@color-black, @color-white);
    }
}

.card {
    position: relative;
    &__front {
        .col_width(50%);
        .default-block();
        display: grid;
        grid-template-areas: 
            "card-title card-title"
            "card-number card-number"
            "card-date card-date"
            "card-owner card-continue";
        @media(max-width: @screen-mob) {
            .col_width(100%);
        }
        .card {
            &__input {
                &-block {
                    &:not(:nth-last-child(2)) {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
    &__title {
        width: 100%;
        text-align: center;
        grid-area: card-title;
        @media(max-width: @screen-tab) {
            font-size: 24px;
        }
    }
    &__input{
        &-block {
            position: relative;
            &--type {
                &--number {
                    grid-area: card-number;
                }
                &--date {
                    grid-area: card-date;
                    justify-self: center;
                }
                &--owner {
                    grid-area: card-owner;
                }
                &--code {
                    width: 90%;
                    padding-left: 80%;
                    @media(max-width: @screen-tab) {
                        padding-left: 75%;
                    }
                    @media(max-width: @screen-mob) {
                        padding-left: 70%;
                    }
                    input {
                        border-bottom-color: @color-white;
                        color: @color-white;
                    }
                    .card__input-label {
                        left: auto;
                        right: 0;
                        color: @color-white;
                    }
                }
            }
        }
        &-text {
            .input();
        }
    }
    &__continue {
        grid-area: card-continue;
        justify-self: end;
        position: relative;
    }
    &__system {
        &-block {
            position: absolute;
            right: 0;
            width: @payment-circle-size * 2 - @payment-circle-size / 2;
            height: @payment-circle-size;
            &:before,
            &:after {
                content: '';
                width: @payment-circle-size;
                height: @payment-circle-size;
                border-radius: 50%;
                position: absolute;
            }
            &:before {
                left: 0;
                background: rgba(255, 0, 0, .5);
                animation: payment-left linear 3s infinite;
            }
            &:after {
                right: 0;
                background: rgba(255, 255, 0, .5);
                animation: payment-right linear 3s infinite;
            }
        }
    }
    &__next {
        .card-button;
        position: absolute;
        right: 0;
    }

    &__back {
        .col_width(50%);
        .default-block();
        background: @color-default-block-white;
        border-color: @color-black;
        position: absolute;
        top: @position-card-back;
        left: calc(25% + @position-card-back);
        z-index: 2;
        height: 100%;
        @media(max-width: @screen-mob) {
            .col_width(100%);
            top: 0;
            left: 0;
        }
    }
    &__line{
        &-block {
            height: 50px;
            position: relative;
            .flex-block(row, nowrap, space-between, flex-start);
            margin-bottom: 20px;
        }
        &-button {
            .card-button;
            &_back {
                transform: rotate(180deg);
            }
            border-color: @color-white;
        }
    }
}

//блок с номером телефона
.phone-block {
    .col_width(50%);
    .default-block();
    .flex-block(row, wrap, space-between, center);
    margin: 0 auto;
    @media(max-width: 576px) {
        .col_width(100%);
        justify-content: center;
        margin-top: 20px;
    }
    &__input {
        &-block {
            position: relative;
            display: flex;
            @media(max-width: @screen-mob) {
                width: 100%;
                margin-bottom: 20px;
            }
        }
        &-text {
            .input();
        }
    }
    &__button {
        .button(@color-black, @color-white);
    }
    &__error {
        font-size: 14px;
        color: #f00;
        left: 20px;
        margin-top: 10px;
    }
}

.success {
    .default-block();
    .col_width(50%);
    padding: 20px;
    @media(max-width: @screen-mob) {
        .col_width(100%);
    }
    &__message {
        text-align: center;
        font-size: 20px;
    }
}

.help {
    position: absolute;
    left: calc(100% + 30px);
    top: 0;
    width: 30%;
    font-size: 16px;
    .default-block();
    .flex-block(column, nowrap, flex-start, center);
    @media(max-width: @screen-tab) {
        width: 50%;
        position: fixed;
        top: auto;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 10px 10px 0 10px;

    }
    @media(max-width: @screen-mob) {
        left: auto;
        right: 0;
        transform: none;
    }
    &__icon {
        .icon();
        margin: 0 0 20px;
        @media(max-width: @screen-mob) {
            margin-bottom: 10px;
        }
    }
    &__text {
        text-align: center;
    }
}

@keyframes payment-left {
    0% {
        background: rgba(255, 0, 0, .7);
    } 50% {
        background: rgba(255, 255, 0, .7);
    } 100% {
        background: rgba(255, 0, 0, .7);
    }
}
@keyframes payment-right {
    0% {
        background: rgba(255, 255, 0, .7);
    } 50% {
        background: rgba(255, 0, 0, .7);
    } 100% {
        background: rgba(255, 255, 0, .7);
    }
}

.fadeBtn-enter-active, .fadeBtn-leave-active {
    transition: .5s;
}
.fadeBtn-enter, .fadeBtn-leave-to {
    opacity: 0;
}
.fadeBtn-enter-active:before, .fadeBtn-leave-active:before {
    transition: .5s;
}
.fadeBtn-enter:before, .fadeBtn-leave-to:before {
    left: @payment-circle-size / 2;
}

.slideDown-enter-active, .slideDown-leave-active {
    transform: translateY(0);
    transition: .5s;
}
.slideDown-enter, .slideDown-leave-to {
    transform: translateY(-50px);
    opacity: 0;
}

// .slideDownDelay-enter-active, .slideDown-leave-active {
//     transform: translateY(0);
//     transition: .5s 2s;
// }
// .slideDownDelay-enter, .slideDown-leave-to {
//     transform: translateY(-50px);
//     opacity: 0;
// }

.showBack-enter-active, .showBack-leave-active {
    transform: translateX(0);
    transition: .5s;
    @media(max-width: @screen-mob) {
        transform: translateY(0);
    }
}
.showBack-enter, .showBack-leave-to {
    opacity: 0;
    transform: translateX(50px);
    @media(max-width: @screen-mob) {
        transform: translateY(20px);
    }
}