<div class="container cards">
  <div class="cards__item" *ngFor="let card of dataSrvc.cardsList">
    <img [src]="card.img" alt="">
    <h2 class="cards__title">{{card.title}}</h2>
    <button class="cards__button" type="button" (click)="showInformation(card)">Подробнее</button>
    <!-- миниатюра с комментариями -->
    <ul class="cards__comment-block">
      <li class="cards__comment-text"
          *ngFor="let currComment of card.userComment">{{currComment.text}}</li>
    </ul>
    <button type="button"
      [disabled]="card.userComment.length > 0 ? false : true"
      (click)="card.showCommentsBlock = !card.showCommentsBlock">{{card.userComment.length > 0 ? "ещё комментарии" : "нет комментариев"}}</button>
    <!-- создать компонент, в котором отображаются все комментарии -->
    <app-comments-block [cardComments] = "card.userComment"
                        [commentDate] = "card.publishDate"
                        *ngIf="card.showCommentsBlock"></app-comments-block>
  </div>
</div>
<app-card-information *ngIf="dataSrvc.currCard.showInf" 
  currCardTitle = "{{dataSrvc.currCard.title}}"
  currCardDesc = "{{dataSrvc.currCard.description}}"
  currCardUserComment = "{{dataSrvc.currCard.userComment}}"></app-card-information>

  <!-- <app-form></app-form> -->