*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: Georgia;
    margin: 0;
    padding: 0;
}
body{
    position: relative;
}
a{
    text-decoration: none;
}

#wrapper{
    width: 960px;
    margin: auto;
}

header{ 
    width: 100%;
    height: 269px;
/*    border-bottom: 1px solid #e2e2e2;*/
}
header > input{
    display: none;
}
header > label{
    display: none;
}
header nav{
/*    border: 1px solid #f00;*/
    height: 135px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
header nav > a{
    height: 55px;
/*    border: 1px solid #f00;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
header nav h1{
    color: #505050;
    font-weight: bold;
    font-size: 22px;
}
header nav span{
    color: #666;
    font-size: 12px;
}
header nav ul{
/*    border: 1px solid #f00;*/
    width: 617px;
    height: 55px;
    background: #e2494b;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
header nav ul li{
/*    border: 1px solid #f00;*/
    
}
header nav ul a{
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
}
header nav ul a:hover{
    color: #ee9395;
}

/*цитата*/
blockquote{
/*    border: 1px solid #f00;*/
    font-size: 22px;
    color: #333;
    width: 712px;
    height: 133px;
    margin: auto;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
/*/цитата*/

/*слайдер*/
.slider{
    position: relative;
    margin: 0 !important;
    padding: 0;
    height: 465px;
}
.slider .slick-dots{
    position: absolute;
    bottom: 0;
}
/*/слайдер*/

.title{
/*    border: 1px solid #f00;*/
    font-size: 18px;
    color: #fff;
    height: 29px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}
.title::before{
/*    border: 1px solid #000;*/
    content: '';
    width: 100%;
    height: 1px;
    background: #e2e2e2;
}
.title::after{
    content: '';
    text-transform: uppercase;
    width: 176px;
    height: inherit;
    background: #e2494b;
    border-radius: 5px;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
/*первый заголовок*/
.title:first-of-type::after{
    content: 'our services';
}
/*/первый заголовок*/
/*второй заголовок*/
.title:nth-of-type(2)::after{
    content: 'our players';
}
.title:last-of-type::after{
    content: 'latest work';
}
/*/второй заголовок*/

/*services*/
.services{
/*    border: 1px solid #f00;*/
    height: 228px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.services > section{
/*    border: 1px solid #000;*/
    height: inherit;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 300px;
        flex-basis: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #979797;
}
.services > section > h3{
/*    border: 1px solid #f00;*/
    font-size: 18px;
    font-weight: bold;
    color: #666;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.services > section > h3::before{
    content: '';
    width: 32px;
    height: 32px;
    background: #333;
    margin-right: 17px;
}
.services > section > p{
/*    border: 1px solid #f00;*/
    font-size: 13px;
    line-height: 20.8px;
    margin: 15px 0 10px;
}
.services > section > a{
    color: #e2494b;
    font-size: 13px;
}
.services > section > a:hover{
    text-decoration: underline;
}
/*/services*/

/*players*/
.players{
/*    border: 1px solid #000;*/
    height: 386px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.players > section{
/*    border: 1px solid #f00;*/
    width: 176px;
    height: 296px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #979797;
    font-size: 13px
}
.players > section > h4{
    font-weight: bold;
    
}
.players > section > h4 > span{
    font-weight: normal;
}
.players > section > p{
    line-height: 20.8px;
}
.players > section > a{
    color: #e2494b;
}
.players > section > a:hover{
    text-decoration: underline;
}
/*/players*/

/*works*/
.works{
/*    border: 1px solid #000;*/
    height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
/*/works*/

/*footer*/
.contacts{
/*    border: 1px solid #f00;*/
    height: 355px;
    background: #e2e2e2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #c3c3c3;
}
.contacts > section{
/*    border: 1px solid #000;*/
    height: 270px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.contacts > section:first-child{
/*    width: 470px;*/
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    -ms-flex-preferred-size: 470px;
        flex-basis: 470px;
}
.contacts > section:nth-child(2){
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 225px;
        flex-basis: 225px;
}
.contacts > section:last-child{
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 225px;
        flex-basis: 225px;
}
.contacts > section > h3{
    font-size: 16px;
    color: #333;
    font-weight: bold;
}
.contacts > section > article{
    
}
.contacts > section > article > img{
    display: block;
    float: left;
    width: 95px;
    height: 95px;
    border: 5px solid transparent;
}
.contacts > section > article > a{
    color: #e2494b;
    font-size: 13px;
    margin-left: 15px;
}
.contacts > section > article > a:hover{
    text-decoration: underline;
}
.contacts > section > article > p{
    width: 355px;
    color: #999;
    font-size: 12px;
    line-height: 21.6px;
    margin-left: 15px;
    display: inline-block;
    margin-top: 15px;
}
.contacts > section > address{
/*    border: 1px solid #f00;*/
    height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.contacts > section > address > div{
/*    border: 1px solid #0ff;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.contacts > section > address > div:first-child{
/*    height: 70px;*/
}
.contacts > section > address > div > span{
    display: block;
    font-style: normal;
    font-size: 12px;
    color: #999;
}
.contacts > section > address > div > span.bold{
    font-weight: bold;
}
.contacts > section > form{
/*    border: 1px solid #000;*/
    height: 233px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.contacts > section > form > input[type=text]{
    height: 31px;
    border: none;
    border-radius: 5px;
    outline: 0;
    padding: 10px;
}
.contacts > section > form > ::-webkit-input-placeholder,
.contacts > section > form > ::-webkit-textarea-placeholder{
    color: #989898;
}
.contacts > section > form > textarea{
    resize: none;
    height: 110px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: 0;
}
.contacts > section > form > input[type=text]:focus,
.contacts > section > form > textarea:focus{
    border: 1px solid #e2494b;
    padding: 9px;
}
.contacts > section > form > input[type=submit]{
    width: 80px;
    height: 31px;
    background: #e2494b;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}
.copy{
    height: 60px;
    background: #e2e2e2;
    border-top: 1px solid #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.copy > span{
    color: #999;
    font-size: 12px;
}

/*/footer*/
.bg{
    width: 100%;
    height: calc(60px + 2px + 355px);
    background: #e2e2e2;
    position: absolute;
    bottom: 0;
    z-index: -1;
}
@media screen and (max-width:479px) {
  /* Target portrait smartphones */
    #wrapper{
        width: 100%;
    }
    header{
        height: auto;
        border-bottom: 0;
    }
    header nav ul{
        width: 100%;
        height: 90vh;
        background: transparent;
        border-radius: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    header nav ul a{
        font-size: 1.5em;
    }
    blockquote{
        width: 100%;
    }
    header > nav{
/*        border: 1px solid #fff;*/
        width: 100%;
        height: 100vh;
        background: rgba(226, 73, 75, 0.9);
        position: fixed;
        z-index: 998;
        top: 0;
        right: -100%;
        opacity: 0;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }
    header > nav > a{
        width: inherit;
        height: 9vh;
        margin-top: 1vh;
        text-align: center;
    } 
    header > nav > a > h1,
    header > nav > a > span{
        color: #fff;
    }
    header > label{
/*   border: 1px solid #f00; */
        position: fixed;
        bottom: 30px;
        right: 10px;
        z-index: 999;
        width: 10vh;
        height: 10vh;
        color: #fff;
        font-size: 1.7em;
        background: #e2494b;
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        cursor: pointer;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }
    header > label:active::after{
        content: '';
        display: block;
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid #000;
        -webkit-animation: label-zoom .1s;
                animation: label-zoom .1s;
    }
    @-webkit-keyframes label-zoom {
        0%{
            width: 50px;
            height: 50px;
          }
        25%, 80%{
            opacity: 1;
            }
        100%{
          opacity: 0;
          width: 100px;
          height: 100px;
        }
    }
    @keyframes label-zoom {
        0%{
            width: 50px;
            height: 50px;
          }
        25%, 80%{
            opacity: 1;
            }
        100%{
          opacity: 0;
          width: 100px;
          height: 100px;
        }
    }
    header > label::before{
        content: 'O';
    }
    header > input:checked ~ nav{
        right: 0;
        opacity: 1;
    }
    header > input:checked ~ label::before{
/*   border: 1px solid #f00; */
        content: 'X';  
    }
    .slider{
        height: auto;
    }
    .slider img{
        margin-bottom: 20px;
    }
    .slick-dots{
        display: none !important;
    }
    .title{
        height: 5vh;
    }
    .title::after{
        width: 100%;
        border-radius: 0;
    }
    .services{
        height: auto;
        padding: 0 10px;
    }
    .services > section{
        height: auto;
        margin-bottom: 20px;
    }
    .services > section:first-child{
        margin-top: 20px;
    }
    .services > section > p{
        font-size: 1.3em;
        line-height: 23px;
    }
    .services > section > a{
        font-size: 1.3em;
    }
    .players{
        height: auto;
        margin-top: 20px;
        padding: 0 10px;
    }
    .players > section{
        width: 100%;
        height: auto;
        margin-bottom: 5vh;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
        border-bottom: 1px solid #e2494b;
    }
    .players > section > h4{
        font-size: 1.3em;
        margin-top: 10px;
    }
    .players > section > p{
        font-size: 1.3em;
        line-height: 23px;
        margin: 10px 0px;
    }
    .players > section > a{
        font-size: 1.3em;
    }
    .works{
        height: 100vh;
        padding: 0px 10px;
    }
    .works a{
        flex-basis: 100%;
    }
    .works a img{
        width: 100%;
    }
    .contacts{
        height: auto;
        padding: 0px 10px;
    }
    .contacts > section{
        height: inherit;
        margin-bottom: 20px;
        border-bottom: 1px solid #e2494b;
    }
    .contacts > section:first-child{
        margin-top: 20px;
    }
    .contacts > section:nth-child(2){
        height: 200px;
    }
    .contacts > section:last-child{
        border-bottom: none;
    }
    .contacts > section > h3{
        margin-bottom: 10px;
    }
    .contacts > section > article{
/*        border: 1px solid #f00;*/
        margin-bottom: 10px;
    }
    .contacts > section > article > img{
        width: 30%;
        height: 30%;
    }
    .contacts > section > article > p{
        width: 65%;
        margin-top: 0;
        line-height: 15px;
    }
    .contacts > section > form{
        height: 400px;
    }
    .contacts > section > form > input{
        height: 50px !important;
        font-size: 1.2em;
    }
    .contacts > section > form > textarea{
        height: 200px;
        font-size: 1.2em;
    }
    .contacts > section > form > input[type=submit]{
        width: 100%;
    }
    .bg{
        display: none;
    }
}
@media screen and (min-width:480px) and (max-width:812px) {
  /* Target landscape smartphones, portrait tablets, narrow desktops
    
  */
    #wrapper{
        width: 100%;
    }
    header{
        height: auto;
    }
    header nav ul{
        width: 100%;
        height: 80vh;
        background: transparent;
        border-radius: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    header nav ul a{
        font-size: 1.5em;
    }
    blockquote{
        width: 100%;
        font-size: 1em;
        padding: 0px 10px;
    }
    header > nav{
/*        border: 1px solid #fff;*/
        width: 100%;
        height: 100vh;
        background: rgba(226, 73, 75, 0.9);
        position: fixed;
        z-index: 998;
        top: 0;
        right: -100%;
        opacity: 0;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }
    header > nav > a{
        width: inherit;
        height: 9vh;
        margin-top: 1vh;
        text-align: center;
    } 
    header > nav > a > h1,
    header > nav > a > span{
        color: #fff;
    }
    header > label{
/*   border: 1px solid #f00; */
        position: fixed;
        bottom: 30px;
        right: 10px;
        z-index: 999;
        width: 70px;
        height: 70px;
        color: #fff;
        font-size: 1.7em;
        background: #e2494b;
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        cursor: pointer;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }
    header > label:active::after{
        content: '';
        display: block;
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid #000;
        -webkit-animation: label-zoom .1s;
                animation: label-zoom .1s;
    }
    @-webkit-keyframes label-zoom {
        0%{
            width: 50px;
            height: 50px;
          }
        25%, 80%{
            opacity: 1;
            }
        100%{
          opacity: 0;
          width: 100px;
          height: 100px;
        }
    }
    @keyframes label-zoom {
        0%{
            width: 50px;
            height: 50px;
          }
        25%, 80%{
            opacity: 1;
            }
        100%{
          opacity: 0;
          width: 100px;
          height: 100px;
        }
    }
    header > label::before{
        content: 'O';
    }
    header > input:checked ~ nav{
        right: 0;
        opacity: 1;
    }
    header > input:checked ~ label::before{
/*   border: 1px solid #f00; */
        content: 'X';  
    }
    .slider{
        height: auto;
    }
    .slider img{
        margin-bottom: 20px;
    }
    .slick-dots{
        display: none !important;
    }
    .title{
        font-size: 1em;
    }
    .services{
        height: auto;
        padding: 0px 10px;
    }
    .services > section{
        height: auto;
        margin: 20px 0;
    }
    .services > section p{
        font-size: 1em;
        line-height: 23px;
        width: 97%;
    }
    .services > section a{
        font-size: 1em;
    }
    .players{
        height: auto;
        margin-top: 20px;
        padding: 0 10px;
    }
    .players > section{
        height: 350px;
        margin-bottom: 20px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
    }
    .players > section > h4{
        font-size: 1em;
    }
    .players > section > p{
        font-size: 1em;
        line-height: 21px;
    }
    .players > section > a{
        font-size: 1em;
    }
    .works{
        height: auto;
        margin: 10px 0 0;
        padding: 0px 10px;
    }
    .works a{
        margin-bottom: 10px;
        width: 49%;
    }
    .works a img{
        width: 100%;
    }
    .contacts{
        height: auto;
        padding: 0px 10px;
    }
    .contacts > section{
        height: auto;
        margin-bottom: 20px;
        border-bottom: 1px solid #e2494b;
    }
    .contacts > section:first-child{
        flex-basis: 100%;
        margin-top: 20px;
    }
    .contacts > section:nth-child(2){
        flex-basis: 100%;
        height: 330px;
    }
    .contacts > section:last-child{
        height: 400px;
        border-bottom: none;
    }
    .contacts > section > h3{
        margin-bottom: 10px;
        font-size: 1.7em;
    }
    .contacts > section > article{
        margin-bottom: 20px;
    }
    .contacts > section > article > img{
        width: 20%;
        height: 20%;
    }
    .contacts > section > article > a{
        font-size: 1em;
    }
    .contacts > section > article > p{
        font-size: 1em;
        line-height: 25px;
        width: 77%;
    }
    .contacts > section > address > div > span{
        font-size: 1em !important;
    }
    .contacts > section > form{
        height: 370px;
    }
    .contacts > section > form > input{
        height: 50px !important;
        font-size: 1.5em;
    }
    .contacts > section > form > textarea{
        height: 170px;
        font-size: 1.5em;
    }
    .contacts > section > form > input[type=submit]{
        width: 100%;
        font-size: 1.5em;
    }
    .bg{
        display: none;
    }
}
