doctype html
html(lang="en")
  head
    // Required meta tags
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    // Bootstrap CSS
    link(rel="stylesheet" href="../styles/bootstrap-grid.min.css")
    // slick-styles
    link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
    // custom-style
    link(rel="stylesheet" href="../styles/style.css")
    title Hello, world!
  body
    //Шапка
    include includes/header
    
    //Второй блок
    include includes/information
    
    //Третий блок
    include includes/ideas
    
    //Четвёртый блок
    include includes/purchase
    
    //Пятый блок 
    include includes/projects
    
    //Шестой блок - presentation
    include includes/presentation
    
    //Седьмой блок
    include includes/mobile
    
    //Восьмой блок
    include includes/statistic
    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
    script(type="text/javascript" src="../main.js")
