<!-- <form novalidate [formGroup]="signUpForm">
    <fieldset formArrayName="contacts">
        <div *ngFor="let contact of contacts.control; let i = index">
            <select [formControl]="contact.controls['type']">
                <option *ngFor="let opt of contactTypes"
                    [value]="opt.value">{{opt.title}}</option>
            </select>
            <input type="text" [fomrControl]="contact.controls['value']">
            <button type="button" (click)="removeContact(i)">X</button>
        </div>
        <button type="button" (click)="addContact()">Add new</button>
    </fieldset>
</form>
<app-validator-message [field="signUpForm.get('user_name')"]></app-validator-message> -->