.block_mt_0 {
	margin-top: 0;
}

.block_mt_5 {
	margin-top: 5px;
}

.block_mt_10 {
	margin-top: 10px;
}

.block_mt_15 {
	margin-top: 15px;
}

.block_mt_20 {
	margin-top: 20px;
}

.block_mt_25 {
	margin-top: 25px;
}

.block_mt_30 {
	margin-top: 30px;
}

.block_mt_35 {
	margin-top: 35px;
}

.block_mt_40 {
	margin-top: 40px;
}

.block_mt_45 {
	margin-top: 45px;
}

.block_mt_50 {
	margin-top: 50px;
}

.block_mt_55 {
	margin-top: 55px;
}

.block_mt_60 {
	margin-top: 60px;
}

.block_mt_65 {
	margin-top: 65px;
}

.block_mt_70 {
	margin-top: 70px;
}

.block_mt_75 {
	margin-top: 75px;
}

.block_mt_80 {
	margin-top: 80px;
}

.block_mt_85 {
	margin-top: 85px;
}

.block_mt_90 {
	margin-top: 90px;
}

.block_mt_95 {
	margin-top: 95px;
}

.block_mt_100 {
	margin-top: 100px;
}

.block_mb_0 {
	margin-bottom: 0;
}

.block_mb_5 {
	margin-bottom: 5px;
}

.block_mb_10 {
	margin-bottom: 10px;
}

.block_mb_15 {
	margin-bottom: 15px;
}

.block_mb_20 {
	margin-bottom: 20px;
}

.block_mb_25 {
	margin-bottom: 25px;
}

.block_mb_30 {
	margin-bottom: 30px;
}

.block_mb_35 {
	margin-bottom: 35px;
}

.block_mb_40 {
	margin-bottom: 40px;
}

.block_mb_45 {
	margin-bottom: 45px;
}

.block_mb_50 {
	margin-bottom: 50px;
}

.block_mb_55 {
	margin-bottom: 55px;
}

.block_mb_60 {
	margin-bottom: 60px;
}

.block_mb_65 {
	margin-bottom: 65px;
}

.block_mb_70 {
	margin-bottom: 70px;
}

.block_mb_75 {
	margin-bottom: 75px;
}

.block_mb_80 {
	margin-bottom: 80px;
}

.block_mb_85 {
	margin-bottom: 85px;
}

.block_mb_90 {
	margin-bottom: 90px;
}

.block_mb_95 {
	margin-bottom: 95px;
}

.block_mb_100 {
	margin-bottom: 100px;
}

.block_ml_0 {
	margin-left: 0;
}

.block_ml_5 {
	margin-left: 5px;
}

.block_ml_10 {
	margin-left: 10px;
}

.block_ml_15 {
	margin-left: 15px;
}

.block_ml_20 {
	margin-left: 20px;
}

.block_ml_25 {
	margin-left: 25px;
}

.block_ml_30 {
	margin-left: 30px;
}

.block_ml_35 {
	margin-left: 35px;
}

.block_ml_40 {
	margin-left: 40px;
}

.block_ml_45 {
	margin-left: 45px;
}

.block_ml_50 {
	margin-left: 50px;
}

.block_ml_55 {
	margin-left: 55px;
}

.block_ml_60 {
	margin-left: 60px;
}

.block_ml_65 {
	margin-left: 65px;
}

.block_ml_70 {
	margin-left: 70px;
}

.block_ml_75 {
	margin-left: 75px;
}

.block_ml_80 {
	margin-left: 80px;
}

.block_ml_85 {
	margin-left: 85px;
}

.block_ml_90 {
	margin-left: 90px;
}

.block_ml_95 {
	margin-left: 95px;
}

.block_ml_100 {
	margin-left: 100px;
}

.block_mr_0 {
	margin-right: 0;
}

.block_mr_5 {
	margin-right: 5px;
}

.block_mr_10 {
	margin-right: 10px;
}

.block_mr_15 {
	margin-right: 15px;
}

.block_mr_20 {
	margin-right: 20px;
}

.block_mr_25 {
	margin-right: 25px;
}

.block_mr_30 {
	margin-right: 30px;
}

.block_mr_35 {
	margin-right: 35px;
}

.block_mr_40 {
	margin-right: 40px;
}

.block_mr_45 {
	margin-right: 45px;
}

.block_mr_50 {
	margin-right: 50px;
}

.block_mr_55 {
	margin-right: 55px;
}

.block_mr_60 {
	margin-right: 60px;
}

.block_mr_65 {
	margin-right: 65px;
}

.block_mr_70 {
	margin-right: 70px;
}

.block_mr_75 {
	margin-right: 75px;
}

.block_mr_80 {
	margin-right: 80px;
}

.block_mr_85 {
	margin-right: 85px;
}

.block_mr_90 {
	margin-right: 90px;
}

.block_mr_95 {
	margin-right: 95px;
}

.block_mr_100 {
	margin-right: 100px;
}

.block_pt_0 {
	padding-top: 0;
}

.block_pt_5 {
	padding-top: 5px;
}

.block_pt_10 {
	padding-top: 10px;
}

.block_pt_15 {
	padding-top: 15px;
}

.block_pt_20 {
	padding-top: 20px;
}

.block_pt_25 {
	padding-top: 25px;
}

.block_pt_30 {
	padding-top: 30px;
}

.block_pt_35 {
	padding-top: 35px;
}

.block_pt_40 {
	padding-top: 40px;
}

.block_pt_45 {
	padding-top: 45px;
}

.block_pt_50 {
	padding-top: 50px;
}

.block_pt_55 {
	padding-top: 55px;
}

.block_pt_60 {
	padding-top: 60px;
}

.block_pt_65 {
	padding-top: 65px;
}

.block_pt_70 {
	padding-top: 70px;
}

.block_pt_75 {
	padding-top: 75px;
}

.block_pt_80 {
	padding-top: 80px;
}

.block_pt_85 {
	padding-top: 85px;
}

.block_pt_90 {
	padding-top: 90px;
}

.block_pt_95 {
	padding-top: 95px;
}

.block_pt_100 {
	padding-top: 100px;
}

.block_pb_0 {
	padding-bottom: 0;
}

.block_pb_5 {
	padding-bottom: 5px;
}

.block_pb_10 {
	padding-bottom: 10px;
}

.block_pb_15 {
	padding-bottom: 15px;
}

.block_pb_20 {
	padding-bottom: 20px;
}

.block_pb_25 {
	padding-bottom: 25px;
}

.block_pb_30 {
	padding-bottom: 30px;
}

.block_pb_35 {
	padding-bottom: 35px;
}

.block_pb_40 {
	padding-bottom: 40px;
}

.block_pb_45 {
	padding-bottom: 45px;
}

.block_pb_50 {
	padding-bottom: 50px;
}

.block_pb_55 {
	padding-bottom: 55px;
}

.block_pb_60 {
	padding-bottom: 60px;
}

.block_pb_65 {
	padding-bottom: 65px;
}

.block_pb_70 {
	padding-bottom: 70px;
}

.block_pb_75 {
	padding-bottom: 75px;
}

.block_pb_80 {
	padding-bottom: 80px;
}

.block_pb_85 {
	padding-bottom: 85px;
}

.block_pb_90 {
	padding-bottom: 90px;
}

.block_pb_95 {
	padding-bottom: 95px;
}

.block_pb_100 {
	padding-bottom: 100px;
}

.block_pl_0 {
	padding-left: 0;
}

.block_pl_5 {
	padding-left: 5px;
}

.block_pl_10 {
	padding-left: 10px;
}

.block_pl_15 {
	padding-left: 15px;
}

.block_pl_20 {
	padding-left: 20px;
}

.block_pl_25 {
	padding-left: 25px;
}

.block_pl_30 {
	padding-left: 30px;
}

.block_pl_35 {
	padding-left: 35px;
}

.block_pl_40 {
	padding-left: 40px;
}

.block_pl_45 {
	padding-left: 45px;
}

.block_pl_50 {
	padding-left: 50px;
}

.block_pl_55 {
	padding-left: 55px;
}

.block_pl_60 {
	padding-left: 60px;
}

.block_pl_65 {
	padding-left: 65px;
}

.block_pl_70 {
	padding-left: 70px;
}

.block_pl_75 {
	padding-left: 75px;
}

.block_pl_80 {
	padding-left: 80px;
}

.block_pl_85 {
	padding-left: 85px;
}

.block_pl_90 {
	padding-left: 90px;
}

.block_pl_95 {
	padding-left: 95px;
}

.block_pl_100 {
	padding-left: 100px;
}

.block_pr_0 {
	padding-right: 0;
}

.block_pr_5 {
	padding-right: 5px;
}

.block_pr_10 {
	padding-right: 10px;
}

.block_pr_15 {
	padding-right: 15px;
}

.block_pr_20 {
	padding-right: 20px;
}

.block_pr_25 {
	padding-right: 25px;
}

.block_pr_30 {
	padding-right: 30px;
}

.block_pr_35 {
	padding-right: 35px;
}

.block_pr_40 {
	padding-right: 40px;
}

.block_pr_45 {
	padding-right: 45px;
}

.block_pr_50 {
	padding-right: 50px;
}

.block_pr_55 {
	padding-right: 55px;
}

.block_pr_60 {
	padding-right: 60px;
}

.block_pr_65 {
	padding-right: 65px;
}

.block_pr_70 {
	padding-right: 70px;
}

.block_pr_75 {
	padding-right: 75px;
}

.block_pr_80 {
	padding-right: 80px;
}

.block_pr_85 {
	padding-right: 85px;
}

.block_pr_90 {
	padding-right: 90px;
}

.block_pr_95 {
	padding-right: 95px;
}

.block_pr_100 {
	padding-right: 100px;
}

@media (max-width: 1024px) {
	.block_lg_mt_0 {
		margin-top: 0;
	}

	.block_lg_mt_5 {
		margin-top: 5px;
	}

	.block_lg_mt_10 {
		margin-top: 10px;
	}

	.block_lg_mt_15 {
		margin-top: 15px;
	}

	.block_lg_mt_20 {
		margin-top: 20px;
	}

	.block_lg_mt_25 {
		margin-top: 25px;
	}

	.block_lg_mt_30 {
		margin-top: 30px;
	}

	.block_lg_mt_35 {
		margin-top: 35px;
	}

	.block_lg_mt_40 {
		margin-top: 40px;
	}

	.block_lg_mt_45 {
		margin-top: 45px;
	}

	.block_lg_mt_50 {
		margin-top: 50px;
	}

	.block_lg_mt_55 {
		margin-top: 55px;
	}

	.block_lg_mt_60 {
		margin-top: 60px;
	}

	.block_lg_mt_65 {
		margin-top: 65px;
	}

	.block_lg_mt_70 {
		margin-top: 70px;
	}

	.block_lg_mt_75 {
		margin-top: 75px;
	}

	.block_lg_mt_80 {
		margin-top: 80px;
	}

	.block_lg_mt_85 {
		margin-top: 85px;
	}

	.block_lg_mt_90 {
		margin-top: 90px;
	}

	.block_lg_mt_95 {
		margin-top: 95px;
	}

	.block_lg_mt_100 {
		margin-top: 100px;
	}

	.block_lg_mb_0 {
		margin-bottom: 0;
	}

	.block_lg_mb_5 {
		margin-bottom: 5px;
	}

	.block_lg_mb_10 {
		margin-bottom: 10px;
	}

	.block_lg_mb_15 {
		margin-bottom: 15px;
	}

	.block_lg_mb_20 {
		margin-bottom: 20px;
	}

	.block_lg_mb_25 {
		margin-bottom: 25px;
	}

	.block_lg_mb_30 {
		margin-bottom: 30px;
	}

	.block_lg_mb_35 {
		margin-bottom: 35px;
	}

	.block_lg_mb_40 {
		margin-bottom: 40px;
	}

	.block_lg_mb_45 {
		margin-bottom: 45px;
	}

	.block_lg_mb_50 {
		margin-bottom: 50px;
	}

	.block_lg_mb_55 {
		margin-bottom: 55px;
	}

	.block_lg_mb_60 {
		margin-bottom: 60px;
	}

	.block_lg_mb_65 {
		margin-bottom: 65px;
	}

	.block_lg_mb_70 {
		margin-bottom: 70px;
	}

	.block_lg_mb_75 {
		margin-bottom: 75px;
	}

	.block_lg_mb_80 {
		margin-bottom: 80px;
	}

	.block_lg_mb_85 {
		margin-bottom: 85px;
	}

	.block_lg_mb_90 {
		margin-bottom: 90px;
	}

	.block_lg_mb_95 {
		margin-bottom: 95px;
	}

	.block_lg_mb_100 {
		margin-bottom: 100px;
	}

	.block_lg_ml_0 {
		margin-left: 0;
	}

	.block_lg_ml_5 {
		margin-left: 5px;
	}

	.block_lg_ml_10 {
		margin-left: 10px;
	}

	.block_lg_ml_15 {
		margin-left: 15px;
	}

	.block_lg_ml_20 {
		margin-left: 20px;
	}

	.block_lg_ml_25 {
		margin-left: 25px;
	}

	.block_lg_ml_30 {
		margin-left: 30px;
	}

	.block_lg_ml_35 {
		margin-left: 35px;
	}

	.block_lg_ml_40 {
		margin-left: 40px;
	}

	.block_lg_ml_45 {
		margin-left: 45px;
	}

	.block_lg_ml_50 {
		margin-left: 50px;
	}

	.block_lg_ml_55 {
		margin-left: 55px;
	}

	.block_lg_ml_60 {
		margin-left: 60px;
	}

	.block_lg_ml_65 {
		margin-left: 65px;
	}

	.block_lg_ml_70 {
		margin-left: 70px;
	}

	.block_lg_ml_75 {
		margin-left: 75px;
	}

	.block_lg_ml_80 {
		margin-left: 80px;
	}

	.block_lg_ml_85 {
		margin-left: 85px;
	}

	.block_lg_ml_90 {
		margin-left: 90px;
	}

	.block_lg_ml_95 {
		margin-left: 95px;
	}

	.block_lg_ml_100 {
		margin-left: 100px;
	}

	.block_lg_mr_0 {
		margin-right: 0;
	}

	.block_lg_mr_5 {
		margin-right: 5px;
	}

	.block_lg_mr_10 {
		margin-right: 10px;
	}

	.block_lg_mr_15 {
		margin-right: 15px;
	}

	.block_lg_mr_20 {
		margin-right: 20px;
	}

	.block_lg_mr_25 {
		margin-right: 25px;
	}

	.block_lg_mr_30 {
		margin-right: 30px;
	}

	.block_lg_mr_35 {
		margin-right: 35px;
	}

	.block_lg_mr_40 {
		margin-right: 40px;
	}

	.block_lg_mr_45 {
		margin-right: 45px;
	}

	.block_lg_mr_50 {
		margin-right: 50px;
	}

	.block_lg_mr_55 {
		margin-right: 55px;
	}

	.block_lg_mr_60 {
		margin-right: 60px;
	}

	.block_lg_mr_65 {
		margin-right: 65px;
	}

	.block_lg_mr_70 {
		margin-right: 70px;
	}

	.block_lg_mr_75 {
		margin-right: 75px;
	}

	.block_lg_mr_80 {
		margin-right: 80px;
	}

	.block_lg_mr_85 {
		margin-right: 85px;
	}

	.block_lg_mr_90 {
		margin-right: 90px;
	}

	.block_lg_mr_95 {
		margin-right: 95px;
	}

	.block_lg_mr_100 {
		margin-right: 100px;
	}

	.block_lg_pt_0 {
		padding-top: 0;
	}

	.block_lg_pt_5 {
		padding-top: 5px;
	}

	.block_lg_pt_10 {
		padding-top: 10px;
	}

	.block_lg_pt_15 {
		padding-top: 15px;
	}

	.block_lg_pt_20 {
		padding-top: 20px;
	}

	.block_lg_pt_25 {
		padding-top: 25px;
	}

	.block_lg_pt_30 {
		padding-top: 30px;
	}

	.block_lg_pt_35 {
		padding-top: 35px;
	}

	.block_lg_pt_40 {
		padding-top: 40px;
	}

	.block_lg_pt_45 {
		padding-top: 45px;
	}

	.block_lg_pt_50 {
		padding-top: 50px;
	}

	.block_lg_pt_55 {
		padding-top: 55px;
	}

	.block_lg_pt_60 {
		padding-top: 60px;
	}

	.block_lg_pt_65 {
		padding-top: 65px;
	}

	.block_lg_pt_70 {
		padding-top: 70px;
	}

	.block_lg_pt_75 {
		padding-top: 75px;
	}

	.block_lg_pt_80 {
		padding-top: 80px;
	}

	.block_lg_pt_85 {
		padding-top: 85px;
	}

	.block_lg_pt_90 {
		padding-top: 90px;
	}

	.block_lg_pt_95 {
		padding-top: 95px;
	}

	.block_lg_pt_100 {
		padding-top: 100px;
	}

	.block_lg_pb_0 {
		padding-bottom: 0;
	}

	.block_lg_pb_5 {
		padding-bottom: 5px;
	}

	.block_lg_pb_10 {
		padding-bottom: 10px;
	}

	.block_lg_pb_15 {
		padding-bottom: 15px;
	}

	.block_lg_pb_20 {
		padding-bottom: 20px;
	}

	.block_lg_pb_25 {
		padding-bottom: 25px;
	}

	.block_lg_pb_30 {
		padding-bottom: 30px;
	}

	.block_lg_pb_35 {
		padding-bottom: 35px;
	}

	.block_lg_pb_40 {
		padding-bottom: 40px;
	}

	.block_lg_pb_45 {
		padding-bottom: 45px;
	}

	.block_lg_pb_50 {
		padding-bottom: 50px;
	}

	.block_lg_pb_55 {
		padding-bottom: 55px;
	}

	.block_lg_pb_60 {
		padding-bottom: 60px;
	}

	.block_lg_pb_65 {
		padding-bottom: 65px;
	}

	.block_lg_pb_70 {
		padding-bottom: 70px;
	}

	.block_lg_pb_75 {
		padding-bottom: 75px;
	}

	.block_lg_pb_80 {
		padding-bottom: 80px;
	}

	.block_lg_pb_85 {
		padding-bottom: 85px;
	}

	.block_lg_pb_90 {
		padding-bottom: 90px;
	}

	.block_lg_pb_95 {
		padding-bottom: 95px;
	}

	.block_lg_pb_100 {
		padding-bottom: 100px;
	}

	.block_lg_pl_0 {
		padding-left: 0;
	}

	.block_lg_pl_5 {
		padding-left: 5px;
	}

	.block_lg_pl_10 {
		padding-left: 10px;
	}

	.block_lg_pl_15 {
		padding-left: 15px;
	}

	.block_lg_pl_20 {
		padding-left: 20px;
	}

	.block_lg_pl_25 {
		padding-left: 25px;
	}

	.block_lg_pl_30 {
		padding-left: 30px;
	}

	.block_lg_pl_35 {
		padding-left: 35px;
	}

	.block_lg_pl_40 {
		padding-left: 40px;
	}

	.block_lg_pl_45 {
		padding-left: 45px;
	}

	.block_lg_pl_50 {
		padding-left: 50px;
	}

	.block_lg_pl_55 {
		padding-left: 55px;
	}

	.block_lg_pl_60 {
		padding-left: 60px;
	}

	.block_lg_pl_65 {
		padding-left: 65px;
	}

	.block_lg_pl_70 {
		padding-left: 70px;
	}

	.block_lg_pl_75 {
		padding-left: 75px;
	}

	.block_lg_pl_80 {
		padding-left: 80px;
	}

	.block_lg_pl_85 {
		padding-left: 85px;
	}

	.block_lg_pl_90 {
		padding-left: 90px;
	}

	.block_lg_pl_95 {
		padding-left: 95px;
	}

	.block_lg_pl_100 {
		padding-left: 100px;
	}

	.block_lg_pr_0 {
		padding-right: 0;
	}

	.block_lg_pr_5 {
		padding-right: 5px;
	}

	.block_lg_pr_10 {
		padding-right: 10px;
	}

	.block_lg_pr_15 {
		padding-right: 15px;
	}

	.block_lg_pr_20 {
		padding-right: 20px;
	}

	.block_lg_pr_25 {
		padding-right: 25px;
	}

	.block_lg_pr_30 {
		padding-right: 30px;
	}

	.block_lg_pr_35 {
		padding-right: 35px;
	}

	.block_lg_pr_40 {
		padding-right: 40px;
	}

	.block_lg_pr_45 {
		padding-right: 45px;
	}

	.block_lg_pr_50 {
		padding-right: 50px;
	}

	.block_lg_pr_55 {
		padding-right: 55px;
	}

	.block_lg_pr_60 {
		padding-right: 60px;
	}

	.block_lg_pr_65 {
		padding-right: 65px;
	}

	.block_lg_pr_70 {
		padding-right: 70px;
	}

	.block_lg_pr_75 {
		padding-right: 75px;
	}

	.block_lg_pr_80 {
		padding-right: 80px;
	}

	.block_lg_pr_85 {
		padding-right: 85px;
	}

	.block_lg_pr_90 {
		padding-right: 90px;
	}

	.block_lg_pr_95 {
		padding-right: 95px;
	}

	.block_lg_pr_100 {
		padding-right: 100px;
	}
}

@media (max-width: 768px) {
	.block_md_mt_0 {
		margin-top: 0;
	}

	.block_md_mt_5 {
		margin-top: 5px;
	}

	.block_md_mt_10 {
		margin-top: 10px;
	}

	.block_md_mt_15 {
		margin-top: 15px;
	}

	.block_md_mt_20 {
		margin-top: 20px;
	}

	.block_md_mt_25 {
		margin-top: 25px;
	}

	.block_md_mt_30 {
		margin-top: 30px;
	}

	.block_md_mt_35 {
		margin-top: 35px;
	}

	.block_md_mt_40 {
		margin-top: 40px;
	}

	.block_md_mt_45 {
		margin-top: 45px;
	}

	.block_md_mt_50 {
		margin-top: 50px;
	}

	.block_md_mt_55 {
		margin-top: 55px;
	}

	.block_md_mt_60 {
		margin-top: 60px;
	}

	.block_md_mt_65 {
		margin-top: 65px;
	}

	.block_md_mt_70 {
		margin-top: 70px;
	}

	.block_md_mt_75 {
		margin-top: 75px;
	}

	.block_md_mt_80 {
		margin-top: 80px;
	}

	.block_md_mt_85 {
		margin-top: 85px;
	}

	.block_md_mt_90 {
		margin-top: 90px;
	}

	.block_md_mt_95 {
		margin-top: 95px;
	}

	.block_md_mt_100 {
		margin-top: 100px;
	}

	.block_md_mb_0 {
		margin-bottom: 0;
	}

	.block_md_mb_5 {
		margin-bottom: 5px;
	}

	.block_md_mb_10 {
		margin-bottom: 10px;
	}

	.block_md_mb_15 {
		margin-bottom: 15px;
	}

	.block_md_mb_20 {
		margin-bottom: 20px;
	}

	.block_md_mb_25 {
		margin-bottom: 25px;
	}

	.block_md_mb_30 {
		margin-bottom: 30px;
	}

	.block_md_mb_35 {
		margin-bottom: 35px;
	}

	.block_md_mb_40 {
		margin-bottom: 40px;
	}

	.block_md_mb_45 {
		margin-bottom: 45px;
	}

	.block_md_mb_50 {
		margin-bottom: 50px;
	}

	.block_md_mb_55 {
		margin-bottom: 55px;
	}

	.block_md_mb_60 {
		margin-bottom: 60px;
	}

	.block_md_mb_65 {
		margin-bottom: 65px;
	}

	.block_md_mb_70 {
		margin-bottom: 70px;
	}

	.block_md_mb_75 {
		margin-bottom: 75px;
	}

	.block_md_mb_80 {
		margin-bottom: 80px;
	}

	.block_md_mb_85 {
		margin-bottom: 85px;
	}

	.block_md_mb_90 {
		margin-bottom: 90px;
	}

	.block_md_mb_95 {
		margin-bottom: 95px;
	}

	.block_md_mb_100 {
		margin-bottom: 100px;
	}

	.block_md_ml_0 {
		margin-left: 0;
	}

	.block_md_ml_5 {
		margin-left: 5px;
	}

	.block_md_ml_10 {
		margin-left: 10px;
	}

	.block_md_ml_15 {
		margin-left: 15px;
	}

	.block_md_ml_20 {
		margin-left: 20px;
	}

	.block_md_ml_25 {
		margin-left: 25px;
	}

	.block_md_ml_30 {
		margin-left: 30px;
	}

	.block_md_ml_35 {
		margin-left: 35px;
	}

	.block_md_ml_40 {
		margin-left: 40px;
	}

	.block_md_ml_45 {
		margin-left: 45px;
	}

	.block_md_ml_50 {
		margin-left: 50px;
	}

	.block_md_ml_55 {
		margin-left: 55px;
	}

	.block_md_ml_60 {
		margin-left: 60px;
	}

	.block_md_ml_65 {
		margin-left: 65px;
	}

	.block_md_ml_70 {
		margin-left: 70px;
	}

	.block_md_ml_75 {
		margin-left: 75px;
	}

	.block_md_ml_80 {
		margin-left: 80px;
	}

	.block_md_ml_85 {
		margin-left: 85px;
	}

	.block_md_ml_90 {
		margin-left: 90px;
	}

	.block_md_ml_95 {
		margin-left: 95px;
	}

	.block_md_ml_100 {
		margin-left: 100px;
	}

	.block_md_mr_0 {
		margin-right: 0;
	}

	.block_md_mr_5 {
		margin-right: 5px;
	}

	.block_md_mr_10 {
		margin-right: 10px;
	}

	.block_md_mr_15 {
		margin-right: 15px;
	}

	.block_md_mr_20 {
		margin-right: 20px;
	}

	.block_md_mr_25 {
		margin-right: 25px;
	}

	.block_md_mr_30 {
		margin-right: 30px;
	}

	.block_md_mr_35 {
		margin-right: 35px;
	}

	.block_md_mr_40 {
		margin-right: 40px;
	}

	.block_md_mr_45 {
		margin-right: 45px;
	}

	.block_md_mr_50 {
		margin-right: 50px;
	}

	.block_md_mr_55 {
		margin-right: 55px;
	}

	.block_md_mr_60 {
		margin-right: 60px;
	}

	.block_md_mr_65 {
		margin-right: 65px;
	}

	.block_md_mr_70 {
		margin-right: 70px;
	}

	.block_md_mr_75 {
		margin-right: 75px;
	}

	.block_md_mr_80 {
		margin-right: 80px;
	}

	.block_md_mr_85 {
		margin-right: 85px;
	}

	.block_md_mr_90 {
		margin-right: 90px;
	}

	.block_md_mr_95 {
		margin-right: 95px;
	}

	.block_md_mr_100 {
		margin-right: 100px;
	}

	.block_md_pt_0 {
		padding-top: 0;
	}

	.block_md_pt_5 {
		padding-top: 5px;
	}

	.block_md_pt_10 {
		padding-top: 10px;
	}

	.block_md_pt_15 {
		padding-top: 15px;
	}

	.block_md_pt_20 {
		padding-top: 20px;
	}

	.block_md_pt_25 {
		padding-top: 25px;
	}

	.block_md_pt_30 {
		padding-top: 30px;
	}

	.block_md_pt_35 {
		padding-top: 35px;
	}

	.block_md_pt_40 {
		padding-top: 40px;
	}

	.block_md_pt_45 {
		padding-top: 45px;
	}

	.block_md_pt_50 {
		padding-top: 50px;
	}

	.block_md_pt_55 {
		padding-top: 55px;
	}

	.block_md_pt_60 {
		padding-top: 60px;
	}

	.block_md_pt_65 {
		padding-top: 65px;
	}

	.block_md_pt_70 {
		padding-top: 70px;
	}

	.block_md_pt_75 {
		padding-top: 75px;
	}

	.block_md_pt_80 {
		padding-top: 80px;
	}

	.block_md_pt_85 {
		padding-top: 85px;
	}

	.block_md_pt_90 {
		padding-top: 90px;
	}

	.block_md_pt_95 {
		padding-top: 95px;
	}

	.block_md_pt_100 {
		padding-top: 100px;
	}

	.block_md_pb_0 {
		padding-bottom: 0;
	}

	.block_md_pb_5 {
		padding-bottom: 5px;
	}

	.block_md_pb_10 {
		padding-bottom: 10px;
	}

	.block_md_pb_15 {
		padding-bottom: 15px;
	}

	.block_md_pb_20 {
		padding-bottom: 20px;
	}

	.block_md_pb_25 {
		padding-bottom: 25px;
	}

	.block_md_pb_30 {
		padding-bottom: 30px;
	}

	.block_md_pb_35 {
		padding-bottom: 35px;
	}

	.block_md_pb_40 {
		padding-bottom: 40px;
	}

	.block_md_pb_45 {
		padding-bottom: 45px;
	}

	.block_md_pb_50 {
		padding-bottom: 50px;
	}

	.block_md_pb_55 {
		padding-bottom: 55px;
	}

	.block_md_pb_60 {
		padding-bottom: 60px;
	}

	.block_md_pb_65 {
		padding-bottom: 65px;
	}

	.block_md_pb_70 {
		padding-bottom: 70px;
	}

	.block_md_pb_75 {
		padding-bottom: 75px;
	}

	.block_md_pb_80 {
		padding-bottom: 80px;
	}

	.block_md_pb_85 {
		padding-bottom: 85px;
	}

	.block_md_pb_90 {
		padding-bottom: 90px;
	}

	.block_md_pb_95 {
		padding-bottom: 95px;
	}

	.block_md_pb_100 {
		padding-bottom: 100px;
	}

	.block_md_pl_0 {
		padding-left: 0;
	}

	.block_md_pl_5 {
		padding-left: 5px;
	}

	.block_md_pl_10 {
		padding-left: 10px;
	}

	.block_md_pl_15 {
		padding-left: 15px;
	}

	.block_md_pl_20 {
		padding-left: 20px;
	}

	.block_md_pl_25 {
		padding-left: 25px;
	}

	.block_md_pl_30 {
		padding-left: 30px;
	}

	.block_md_pl_35 {
		padding-left: 35px;
	}

	.block_md_pl_40 {
		padding-left: 40px;
	}

	.block_md_pl_45 {
		padding-left: 45px;
	}

	.block_md_pl_50 {
		padding-left: 50px;
	}

	.block_md_pl_55 {
		padding-left: 55px;
	}

	.block_md_pl_60 {
		padding-left: 60px;
	}

	.block_md_pl_65 {
		padding-left: 65px;
	}

	.block_md_pl_70 {
		padding-left: 70px;
	}

	.block_md_pl_75 {
		padding-left: 75px;
	}

	.block_md_pl_80 {
		padding-left: 80px;
	}

	.block_md_pl_85 {
		padding-left: 85px;
	}

	.block_md_pl_90 {
		padding-left: 90px;
	}

	.block_md_pl_95 {
		padding-left: 95px;
	}

	.block_md_pl_100 {
		padding-left: 100px;
	}

	.block_md_pr_0 {
		padding-right: 0;
	}

	.block_md_pr_5 {
		padding-right: 5px;
	}

	.block_md_pr_10 {
		padding-right: 10px;
	}

	.block_md_pr_15 {
		padding-right: 15px;
	}

	.block_md_pr_20 {
		padding-right: 20px;
	}

	.block_md_pr_25 {
		padding-right: 25px;
	}

	.block_md_pr_30 {
		padding-right: 30px;
	}

	.block_md_pr_35 {
		padding-right: 35px;
	}

	.block_md_pr_40 {
		padding-right: 40px;
	}

	.block_md_pr_45 {
		padding-right: 45px;
	}

	.block_md_pr_50 {
		padding-right: 50px;
	}

	.block_md_pr_55 {
		padding-right: 55px;
	}

	.block_md_pr_60 {
		padding-right: 60px;
	}

	.block_md_pr_65 {
		padding-right: 65px;
	}

	.block_md_pr_70 {
		padding-right: 70px;
	}

	.block_md_pr_75 {
		padding-right: 75px;
	}

	.block_md_pr_80 {
		padding-right: 80px;
	}

	.block_md_pr_85 {
		padding-right: 85px;
	}

	.block_md_pr_90 {
		padding-right: 90px;
	}

	.block_md_pr_95 {
		padding-right: 95px;
	}

	.block_md_pr_100 {
		padding-right: 100px;
	}
}

@media (max-width: 576px) {
	.block_sm_mt_0 {
		margin-top: 0;
	}

	.block_sm_mt_5 {
		margin-top: 5px;
	}

	.block_sm_mt_10 {
		margin-top: 10px;
	}

	.block_sm_mt_15 {
		margin-top: 15px;
	}

	.block_sm_mt_20 {
		margin-top: 20px;
	}

	.block_sm_mt_25 {
		margin-top: 25px;
	}

	.block_sm_mt_30 {
		margin-top: 30px;
	}

	.block_sm_mt_35 {
		margin-top: 35px;
	}

	.block_sm_mt_40 {
		margin-top: 40px;
	}

	.block_sm_mt_45 {
		margin-top: 45px;
	}

	.block_sm_mt_50 {
		margin-top: 50px;
	}

	.block_sm_mt_55 {
		margin-top: 55px;
	}

	.block_sm_mt_60 {
		margin-top: 60px;
	}

	.block_sm_mt_65 {
		margin-top: 65px;
	}

	.block_sm_mt_70 {
		margin-top: 70px;
	}

	.block_sm_mt_75 {
		margin-top: 75px;
	}

	.block_sm_mt_80 {
		margin-top: 80px;
	}

	.block_sm_mt_85 {
		margin-top: 85px;
	}

	.block_sm_mt_90 {
		margin-top: 90px;
	}

	.block_sm_mt_95 {
		margin-top: 95px;
	}

	.block_sm_mt_100 {
		margin-top: 100px;
	}

	.block_sm_mb_0 {
		margin-bottom: 0;
	}

	.block_sm_mb_5 {
		margin-bottom: 5px;
	}

	.block_sm_mb_10 {
		margin-bottom: 10px;
	}

	.block_sm_mb_15 {
		margin-bottom: 15px;
	}

	.block_sm_mb_20 {
		margin-bottom: 20px;
	}

	.block_sm_mb_25 {
		margin-bottom: 25px;
	}

	.block_sm_mb_30 {
		margin-bottom: 30px;
	}

	.block_sm_mb_35 {
		margin-bottom: 35px;
	}

	.block_sm_mb_40 {
		margin-bottom: 40px;
	}

	.block_sm_mb_45 {
		margin-bottom: 45px;
	}

	.block_sm_mb_50 {
		margin-bottom: 50px;
	}

	.block_sm_mb_55 {
		margin-bottom: 55px;
	}

	.block_sm_mb_60 {
		margin-bottom: 60px;
	}

	.block_sm_mb_65 {
		margin-bottom: 65px;
	}

	.block_sm_mb_70 {
		margin-bottom: 70px;
	}

	.block_sm_mb_75 {
		margin-bottom: 75px;
	}

	.block_sm_mb_80 {
		margin-bottom: 80px;
	}

	.block_sm_mb_85 {
		margin-bottom: 85px;
	}

	.block_sm_mb_90 {
		margin-bottom: 90px;
	}

	.block_sm_mb_95 {
		margin-bottom: 95px;
	}

	.block_sm_mb_100 {
		margin-bottom: 100px;
	}

	.block_sm_ml_0 {
		margin-left: 0;
	}

	.block_sm_ml_5 {
		margin-left: 5px;
	}

	.block_sm_ml_10 {
		margin-left: 10px;
	}

	.block_sm_ml_15 {
		margin-left: 15px;
	}

	.block_sm_ml_20 {
		margin-left: 20px;
	}

	.block_sm_ml_25 {
		margin-left: 25px;
	}

	.block_sm_ml_30 {
		margin-left: 30px;
	}

	.block_sm_ml_35 {
		margin-left: 35px;
	}

	.block_sm_ml_40 {
		margin-left: 40px;
	}

	.block_sm_ml_45 {
		margin-left: 45px;
	}

	.block_sm_ml_50 {
		margin-left: 50px;
	}

	.block_sm_ml_55 {
		margin-left: 55px;
	}

	.block_sm_ml_60 {
		margin-left: 60px;
	}

	.block_sm_ml_65 {
		margin-left: 65px;
	}

	.block_sm_ml_70 {
		margin-left: 70px;
	}

	.block_sm_ml_75 {
		margin-left: 75px;
	}

	.block_sm_ml_80 {
		margin-left: 80px;
	}

	.block_sm_ml_85 {
		margin-left: 85px;
	}

	.block_sm_ml_90 {
		margin-left: 90px;
	}

	.block_sm_ml_95 {
		margin-left: 95px;
	}

	.block_sm_ml_100 {
		margin-left: 100px;
	}

	.block_sm_mr_0 {
		margin-right: 0;
	}

	.block_sm_mr_5 {
		margin-right: 5px;
	}

	.block_sm_mr_10 {
		margin-right: 10px;
	}

	.block_sm_mr_15 {
		margin-right: 15px;
	}

	.block_sm_mr_20 {
		margin-right: 20px;
	}

	.block_sm_mr_25 {
		margin-right: 25px;
	}

	.block_sm_mr_30 {
		margin-right: 30px;
	}

	.block_sm_mr_35 {
		margin-right: 35px;
	}

	.block_sm_mr_40 {
		margin-right: 40px;
	}

	.block_sm_mr_45 {
		margin-right: 45px;
	}

	.block_sm_mr_50 {
		margin-right: 50px;
	}

	.block_sm_mr_55 {
		margin-right: 55px;
	}

	.block_sm_mr_60 {
		margin-right: 60px;
	}

	.block_sm_mr_65 {
		margin-right: 65px;
	}

	.block_sm_mr_70 {
		margin-right: 70px;
	}

	.block_sm_mr_75 {
		margin-right: 75px;
	}

	.block_sm_mr_80 {
		margin-right: 80px;
	}

	.block_sm_mr_85 {
		margin-right: 85px;
	}

	.block_sm_mr_90 {
		margin-right: 90px;
	}

	.block_sm_mr_95 {
		margin-right: 95px;
	}

	.block_sm_mr_100 {
		margin-right: 100px;
	}

	.block_sm_pt_0 {
		padding-top: 0;
	}

	.block_sm_pt_5 {
		padding-top: 5px;
	}

	.block_sm_pt_10 {
		padding-top: 10px;
	}

	.block_sm_pt_15 {
		padding-top: 15px;
	}

	.block_sm_pt_20 {
		padding-top: 20px;
	}

	.block_sm_pt_25 {
		padding-top: 25px;
	}

	.block_sm_pt_30 {
		padding-top: 30px;
	}

	.block_sm_pt_35 {
		padding-top: 35px;
	}

	.block_sm_pt_40 {
		padding-top: 40px;
	}

	.block_sm_pt_45 {
		padding-top: 45px;
	}

	.block_sm_pt_50 {
		padding-top: 50px;
	}

	.block_sm_pt_55 {
		padding-top: 55px;
	}

	.block_sm_pt_60 {
		padding-top: 60px;
	}

	.block_sm_pt_65 {
		padding-top: 65px;
	}

	.block_sm_pt_70 {
		padding-top: 70px;
	}

	.block_sm_pt_75 {
		padding-top: 75px;
	}

	.block_sm_pt_80 {
		padding-top: 80px;
	}

	.block_sm_pt_85 {
		padding-top: 85px;
	}

	.block_sm_pt_90 {
		padding-top: 90px;
	}

	.block_sm_pt_95 {
		padding-top: 95px;
	}

	.block_sm_pt_100 {
		padding-top: 100px;
	}

	.block_sm_pb_0 {
		padding-bottom: 0;
	}

	.block_sm_pb_5 {
		padding-bottom: 5px;
	}

	.block_sm_pb_10 {
		padding-bottom: 10px;
	}

	.block_sm_pb_15 {
		padding-bottom: 15px;
	}

	.block_sm_pb_20 {
		padding-bottom: 20px;
	}

	.block_sm_pb_25 {
		padding-bottom: 25px;
	}

	.block_sm_pb_30 {
		padding-bottom: 30px;
	}

	.block_sm_pb_35 {
		padding-bottom: 35px;
	}

	.block_sm_pb_40 {
		padding-bottom: 40px;
	}

	.block_sm_pb_45 {
		padding-bottom: 45px;
	}

	.block_sm_pb_50 {
		padding-bottom: 50px;
	}

	.block_sm_pb_55 {
		padding-bottom: 55px;
	}

	.block_sm_pb_60 {
		padding-bottom: 60px;
	}

	.block_sm_pb_65 {
		padding-bottom: 65px;
	}

	.block_sm_pb_70 {
		padding-bottom: 70px;
	}

	.block_sm_pb_75 {
		padding-bottom: 75px;
	}

	.block_sm_pb_80 {
		padding-bottom: 80px;
	}

	.block_sm_pb_85 {
		padding-bottom: 85px;
	}

	.block_sm_pb_90 {
		padding-bottom: 90px;
	}

	.block_sm_pb_95 {
		padding-bottom: 95px;
	}

	.block_sm_pb_100 {
		padding-bottom: 100px;
	}

	.block_sm_pl_0 {
		padding-left: 0;
	}

	.block_sm_pl_5 {
		padding-left: 5px;
	}

	.block_sm_pl_10 {
		padding-left: 10px;
	}

	.block_sm_pl_15 {
		padding-left: 15px;
	}

	.block_sm_pl_20 {
		padding-left: 20px;
	}

	.block_sm_pl_25 {
		padding-left: 25px;
	}

	.block_sm_pl_30 {
		padding-left: 30px;
	}

	.block_sm_pl_35 {
		padding-left: 35px;
	}

	.block_sm_pl_40 {
		padding-left: 40px;
	}

	.block_sm_pl_45 {
		padding-left: 45px;
	}

	.block_sm_pl_50 {
		padding-left: 50px;
	}

	.block_sm_pl_55 {
		padding-left: 55px;
	}

	.block_sm_pl_60 {
		padding-left: 60px;
	}

	.block_sm_pl_65 {
		padding-left: 65px;
	}

	.block_sm_pl_70 {
		padding-left: 70px;
	}

	.block_sm_pl_75 {
		padding-left: 75px;
	}

	.block_sm_pl_80 {
		padding-left: 80px;
	}

	.block_sm_pl_85 {
		padding-left: 85px;
	}

	.block_sm_pl_90 {
		padding-left: 90px;
	}

	.block_sm_pl_95 {
		padding-left: 95px;
	}

	.block_sm_pl_100 {
		padding-left: 100px;
	}

	.block_sm_pr_0 {
		padding-right: 0;
	}

	.block_sm_pr_5 {
		padding-right: 5px;
	}

	.block_sm_pr_10 {
		padding-right: 10px;
	}

	.block_sm_pr_15 {
		padding-right: 15px;
	}

	.block_sm_pr_20 {
		padding-right: 20px;
	}

	.block_sm_pr_25 {
		padding-right: 25px;
	}

	.block_sm_pr_30 {
		padding-right: 30px;
	}

	.block_sm_pr_35 {
		padding-right: 35px;
	}

	.block_sm_pr_40 {
		padding-right: 40px;
	}

	.block_sm_pr_45 {
		padding-right: 45px;
	}

	.block_sm_pr_50 {
		padding-right: 50px;
	}

	.block_sm_pr_55 {
		padding-right: 55px;
	}

	.block_sm_pr_60 {
		padding-right: 60px;
	}

	.block_sm_pr_65 {
		padding-right: 65px;
	}

	.block_sm_pr_70 {
		padding-right: 70px;
	}

	.block_sm_pr_75 {
		padding-right: 75px;
	}

	.block_sm_pr_80 {
		padding-right: 80px;
	}

	.block_sm_pr_85 {
		padding-right: 85px;
	}

	.block_sm_pr_90 {
		padding-right: 90px;
	}

	.block_sm_pr_95 {
		padding-right: 95px;
	}

	.block_sm_pr_100 {
		padding-right: 100px;
	}
}

@media (max-width: 425px) {
	.block_xs_mt_0 {
		margin-top: 0;
	}

	.block_xs_mt_5 {
		margin-top: 5px;
	}

	.block_xs_mt_10 {
		margin-top: 10px;
	}

	.block_xs_mt_15 {
		margin-top: 15px;
	}

	.block_xs_mt_20 {
		margin-top: 20px;
	}

	.block_xs_mt_25 {
		margin-top: 25px;
	}

	.block_xs_mt_30 {
		margin-top: 30px;
	}

	.block_xs_mt_35 {
		margin-top: 35px;
	}

	.block_xs_mt_40 {
		margin-top: 40px;
	}

	.block_xs_mt_45 {
		margin-top: 45px;
	}

	.block_xs_mt_50 {
		margin-top: 50px;
	}

	.block_xs_mt_55 {
		margin-top: 55px;
	}

	.block_xs_mt_60 {
		margin-top: 60px;
	}

	.block_xs_mt_65 {
		margin-top: 65px;
	}

	.block_xs_mt_70 {
		margin-top: 70px;
	}

	.block_xs_mt_75 {
		margin-top: 75px;
	}

	.block_xs_mt_80 {
		margin-top: 80px;
	}

	.block_xs_mt_85 {
		margin-top: 85px;
	}

	.block_xs_mt_90 {
		margin-top: 90px;
	}

	.block_xs_mt_95 {
		margin-top: 95px;
	}

	.block_xs_mt_100 {
		margin-top: 100px;
	}

	.block_xs_mb_0 {
		margin-bottom: 0;
	}

	.block_xs_mb_5 {
		margin-bottom: 5px;
	}

	.block_xs_mb_10 {
		margin-bottom: 10px;
	}

	.block_xs_mb_15 {
		margin-bottom: 15px;
	}

	.block_xs_mb_20 {
		margin-bottom: 20px;
	}

	.block_xs_mb_25 {
		margin-bottom: 25px;
	}

	.block_xs_mb_30 {
		margin-bottom: 30px;
	}

	.block_xs_mb_35 {
		margin-bottom: 35px;
	}

	.block_xs_mb_40 {
		margin-bottom: 40px;
	}

	.block_xs_mb_45 {
		margin-bottom: 45px;
	}

	.block_xs_mb_50 {
		margin-bottom: 50px;
	}

	.block_xs_mb_55 {
		margin-bottom: 55px;
	}

	.block_xs_mb_60 {
		margin-bottom: 60px;
	}

	.block_xs_mb_65 {
		margin-bottom: 65px;
	}

	.block_xs_mb_70 {
		margin-bottom: 70px;
	}

	.block_xs_mb_75 {
		margin-bottom: 75px;
	}

	.block_xs_mb_80 {
		margin-bottom: 80px;
	}

	.block_xs_mb_85 {
		margin-bottom: 85px;
	}

	.block_xs_mb_90 {
		margin-bottom: 90px;
	}

	.block_xs_mb_95 {
		margin-bottom: 95px;
	}

	.block_xs_mb_100 {
		margin-bottom: 100px;
	}

	.block_xs_ml_0 {
		margin-left: 0;
	}

	.block_xs_ml_5 {
		margin-left: 5px;
	}

	.block_xs_ml_10 {
		margin-left: 10px;
	}

	.block_xs_ml_15 {
		margin-left: 15px;
	}

	.block_xs_ml_20 {
		margin-left: 20px;
	}

	.block_xs_ml_25 {
		margin-left: 25px;
	}

	.block_xs_ml_30 {
		margin-left: 30px;
	}

	.block_xs_ml_35 {
		margin-left: 35px;
	}

	.block_xs_ml_40 {
		margin-left: 40px;
	}

	.block_xs_ml_45 {
		margin-left: 45px;
	}

	.block_xs_ml_50 {
		margin-left: 50px;
	}

	.block_xs_ml_55 {
		margin-left: 55px;
	}

	.block_xs_ml_60 {
		margin-left: 60px;
	}

	.block_xs_ml_65 {
		margin-left: 65px;
	}

	.block_xs_ml_70 {
		margin-left: 70px;
	}

	.block_xs_ml_75 {
		margin-left: 75px;
	}

	.block_xs_ml_80 {
		margin-left: 80px;
	}

	.block_xs_ml_85 {
		margin-left: 85px;
	}

	.block_xs_ml_90 {
		margin-left: 90px;
	}

	.block_xs_ml_95 {
		margin-left: 95px;
	}

	.block_xs_ml_100 {
		margin-left: 100px;
	}

	.block_xs_mr_0 {
		margin-right: 0;
	}

	.block_xs_mr_5 {
		margin-right: 5px;
	}

	.block_xs_mr_10 {
		margin-right: 10px;
	}

	.block_xs_mr_15 {
		margin-right: 15px;
	}

	.block_xs_mr_20 {
		margin-right: 20px;
	}

	.block_xs_mr_25 {
		margin-right: 25px;
	}

	.block_xs_mr_30 {
		margin-right: 30px;
	}

	.block_xs_mr_35 {
		margin-right: 35px;
	}

	.block_xs_mr_40 {
		margin-right: 40px;
	}

	.block_xs_mr_45 {
		margin-right: 45px;
	}

	.block_xs_mr_50 {
		margin-right: 50px;
	}

	.block_xs_mr_55 {
		margin-right: 55px;
	}

	.block_xs_mr_60 {
		margin-right: 60px;
	}

	.block_xs_mr_65 {
		margin-right: 65px;
	}

	.block_xs_mr_70 {
		margin-right: 70px;
	}

	.block_xs_mr_75 {
		margin-right: 75px;
	}

	.block_xs_mr_80 {
		margin-right: 80px;
	}

	.block_xs_mr_85 {
		margin-right: 85px;
	}

	.block_xs_mr_90 {
		margin-right: 90px;
	}

	.block_xs_mr_95 {
		margin-right: 95px;
	}

	.block_xs_mr_100 {
		margin-right: 100px;
	}

	.block_xs_pt_0 {
		padding-top: 0;
	}

	.block_xs_pt_5 {
		padding-top: 5px;
	}

	.block_xs_pt_10 {
		padding-top: 10px;
	}

	.block_xs_pt_15 {
		padding-top: 15px;
	}

	.block_xs_pt_20 {
		padding-top: 20px;
	}

	.block_xs_pt_25 {
		padding-top: 25px;
	}

	.block_xs_pt_30 {
		padding-top: 30px;
	}

	.block_xs_pt_35 {
		padding-top: 35px;
	}

	.block_xs_pt_40 {
		padding-top: 40px;
	}

	.block_xs_pt_45 {
		padding-top: 45px;
	}

	.block_xs_pt_50 {
		padding-top: 50px;
	}

	.block_xs_pt_55 {
		padding-top: 55px;
	}

	.block_xs_pt_60 {
		padding-top: 60px;
	}

	.block_xs_pt_65 {
		padding-top: 65px;
	}

	.block_xs_pt_70 {
		padding-top: 70px;
	}

	.block_xs_pt_75 {
		padding-top: 75px;
	}

	.block_xs_pt_80 {
		padding-top: 80px;
	}

	.block_xs_pt_85 {
		padding-top: 85px;
	}

	.block_xs_pt_90 {
		padding-top: 90px;
	}

	.block_xs_pt_95 {
		padding-top: 95px;
	}

	.block_xs_pt_100 {
		padding-top: 100px;
	}

	.block_xs_pb_0 {
		padding-bottom: 0;
	}

	.block_xs_pb_5 {
		padding-bottom: 5px;
	}

	.block_xs_pb_10 {
		padding-bottom: 10px;
	}

	.block_xs_pb_15 {
		padding-bottom: 15px;
	}

	.block_xs_pb_20 {
		padding-bottom: 20px;
	}

	.block_xs_pb_25 {
		padding-bottom: 25px;
	}

	.block_xs_pb_30 {
		padding-bottom: 30px;
	}

	.block_xs_pb_35 {
		padding-bottom: 35px;
	}

	.block_xs_pb_40 {
		padding-bottom: 40px;
	}

	.block_xs_pb_45 {
		padding-bottom: 45px;
	}

	.block_xs_pb_50 {
		padding-bottom: 50px;
	}

	.block_xs_pb_55 {
		padding-bottom: 55px;
	}

	.block_xs_pb_60 {
		padding-bottom: 60px;
	}

	.block_xs_pb_65 {
		padding-bottom: 65px;
	}

	.block_xs_pb_70 {
		padding-bottom: 70px;
	}

	.block_xs_pb_75 {
		padding-bottom: 75px;
	}

	.block_xs_pb_80 {
		padding-bottom: 80px;
	}

	.block_xs_pb_85 {
		padding-bottom: 85px;
	}

	.block_xs_pb_90 {
		padding-bottom: 90px;
	}

	.block_xs_pb_95 {
		padding-bottom: 95px;
	}

	.block_xs_pb_100 {
		padding-bottom: 100px;
	}

	.block_xs_pl_0 {
		padding-left: 0;
	}

	.block_xs_pl_5 {
		padding-left: 5px;
	}

	.block_xs_pl_10 {
		padding-left: 10px;
	}

	.block_xs_pl_15 {
		padding-left: 15px;
	}

	.block_xs_pl_20 {
		padding-left: 20px;
	}

	.block_xs_pl_25 {
		padding-left: 25px;
	}

	.block_xs_pl_30 {
		padding-left: 30px;
	}

	.block_xs_pl_35 {
		padding-left: 35px;
	}

	.block_xs_pl_40 {
		padding-left: 40px;
	}

	.block_xs_pl_45 {
		padding-left: 45px;
	}

	.block_xs_pl_50 {
		padding-left: 50px;
	}

	.block_xs_pl_55 {
		padding-left: 55px;
	}

	.block_xs_pl_60 {
		padding-left: 60px;
	}

	.block_xs_pl_65 {
		padding-left: 65px;
	}

	.block_xs_pl_70 {
		padding-left: 70px;
	}

	.block_xs_pl_75 {
		padding-left: 75px;
	}

	.block_xs_pl_80 {
		padding-left: 80px;
	}

	.block_xs_pl_85 {
		padding-left: 85px;
	}

	.block_xs_pl_90 {
		padding-left: 90px;
	}

	.block_xs_pl_95 {
		padding-left: 95px;
	}

	.block_xs_pl_100 {
		padding-left: 100px;
	}

	.block_xs_pr_0 {
		padding-right: 0;
	}

	.block_xs_pr_5 {
		padding-right: 5px;
	}

	.block_xs_pr_10 {
		padding-right: 10px;
	}

	.block_xs_pr_15 {
		padding-right: 15px;
	}

	.block_xs_pr_20 {
		padding-right: 20px;
	}

	.block_xs_pr_25 {
		padding-right: 25px;
	}

	.block_xs_pr_30 {
		padding-right: 30px;
	}

	.block_xs_pr_35 {
		padding-right: 35px;
	}

	.block_xs_pr_40 {
		padding-right: 40px;
	}

	.block_xs_pr_45 {
		padding-right: 45px;
	}

	.block_xs_pr_50 {
		padding-right: 50px;
	}

	.block_xs_pr_55 {
		padding-right: 55px;
	}

	.block_xs_pr_60 {
		padding-right: 60px;
	}

	.block_xs_pr_65 {
		padding-right: 65px;
	}

	.block_xs_pr_70 {
		padding-right: 70px;
	}

	.block_xs_pr_75 {
		padding-right: 75px;
	}

	.block_xs_pr_80 {
		padding-right: 80px;
	}

	.block_xs_pr_85 {
		padding-right: 85px;
	}

	.block_xs_pr_90 {
		padding-right: 90px;
	}

	.block_xs_pr_95 {
		padding-right: 95px;
	}

	.block_xs_pr_100 {
		padding-right: 100px;
	}
}