<div class="container card-inf">
    <h2 class="card-inf__title">{{currCardTitle}}</h2>
    <p class="card-inf__desc">{{currCardDesc}}</p>

    <!-- комментарий пользователя -->
    <div class="card-inf__comment comment-block">
        <h3 class="comment-block__title">Отправить комментарий
            <span class="comment-block__status"
                [ngClass]="{'visible': showStatus}">{{status}}</span>
        </h3>
        <textarea class="comment-block__enter" 
            [(ngModel)]="comment"></textarea>
        <button class="comment-block__send" type="button"
            (click)="sendComment()">Отправить</button>
    </div>
</div>
