.wrapper01.grid01
    .grid01__item1
    .grid01__item2
        .burger
        h1.grid01__title Ali Sayed's#[br] #[span.grid01__title_bold Web Desining] #[br] Project
        p.grid01__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.
        p.grid01__text quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dol.
    .grid01__item3
        h2.grid01__title Drawing #[span.grid01__title_bold Sketch]
        p.grid01__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidu.
        
        h2.grid01__title Making #[span.grid01__title_bold Design]
        p.grid01__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidu.
        
        h2.grid01__title Developing #[span.grid01__title_bold Product]
        p.grid__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidu.
    .grid01__item4
        h2.grid01__title Best #[span.grid01__title_bold Strarting]
        p.grid01__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidu.
        a(href="#" target="_blank" title="Ссылка никуда не ведёт").grid01__button.grid01__button_grey View our history
    .grid01__item5
        h2.grid01__title Verified #[span.grid01__title_bold Dummy]
        p.grid01__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidu.
        a(href="#" target="_blank" title="Ссылка никуда не ведёт").grid01__button.grid01__button_white Go to the page
    .grid01__item6
        h2.grid01__title This Webpage is #[span.grid01__title_bold Designed By]
        img.grid01__logo(src="http://placekitten.com/90/90", alt="designer-logo")
        h3.grid01__second-title Ali Sayed #[span.grid01__second-title_subtitle Graphic Designer]
    .grid01__item7
        h2.grid01__title Say #[span.grid01__title_bold 'Hello']
        form.grid01__form
            .grid01__form__input
                input(type="text" placeholder="Не работает")
                label Your Name
            .grid01__form__input
                input(type="email" placeholder="Не работает")
                label Your Email
            .grid01__form__textarea
                textarea(placeholder="Не работает")
                label Your Message Here...
        p Stay Connected With Us...
        .grid01__contacts
            a(href="#" target="_blank").grid01__contacts-link.link1
            a(href="#" target="_blank").grid01__contacts-link.link2
            a(href="#" target="_blank").grid01__contacts-link.link3
        p Please Feel Free Contact With me For Any Kind of Project
