.block_mt_0 {
  margin-top: 0;
}

.block_mt_5 {
  margin-top: 5px;
}

.block_mt_10 {
  margin-top: 10px;
}

.block_mt_15 {
  margin-top: 15px;
}

.block_mt_20 {
  margin-top: 20px;
}

.block_mt_25 {
  margin-top: 25px;
}

.block_mt_30 {
  margin-top: 30px;
}

.block_mt_35 {
  margin-top: 35px;
}

.block_mt_40 {
  margin-top: 40px;
}

.block_mt_45 {
  margin-top: 45px;
}

.block_mt_50 {
  margin-top: 50px;
}

.block_mt_55 {
  margin-top: 55px;
}

.block_mt_60 {
  margin-top: 60px;
}

.block_mt_65 {
  margin-top: 65px;
}

.block_mt_70 {
  margin-top: 70px;
}

.block_mt_75 {
  margin-top: 75px;
}

.block_mt_80 {
  margin-top: 80px;
}

.block_mt_85 {
  margin-top: 85px;
}

.block_mt_90 {
  margin-top: 90px;
}

.block_mt_95 {
  margin-top: 95px;
}

.block_mt_100 {
  margin-top: 100px;
}

.block_mb_0 {
  margin-bottom: 0;
}

.block_mb_5 {
  margin-bottom: 5px;
}

.block_mb_10 {
  margin-bottom: 10px;
}

.block_mb_15 {
  margin-bottom: 15px;
}

.block_mb_20 {
  margin-bottom: 20px;
}

.block_mb_25 {
  margin-bottom: 25px;
}

.block_mb_30 {
  margin-bottom: 30px;
}

.block_mb_35 {
  margin-bottom: 35px;
}

.block_mb_40 {
  margin-bottom: 40px;
}

.block_mb_45 {
  margin-bottom: 45px;
}

.block_mb_50 {
  margin-bottom: 50px;
}

.block_mb_55 {
  margin-bottom: 55px;
}

.block_mb_60 {
  margin-bottom: 60px;
}

.block_mb_65 {
  margin-bottom: 65px;
}

.block_mb_70 {
  margin-bottom: 70px;
}

.block_mb_75 {
  margin-bottom: 75px;
}

.block_mb_80 {
  margin-bottom: 80px;
}

.block_mb_85 {
  margin-bottom: 85px;
}

.block_mb_90 {
  margin-bottom: 90px;
}

.block_mb_95 {
  margin-bottom: 95px;
}

.block_mb_100 {
  margin-bottom: 100px;
}

.block_ml_0 {
  margin-left: 0;
}

.block_ml_5 {
  margin-left: 5px;
}

.block_ml_10 {
  margin-left: 10px;
}

.block_ml_15 {
  margin-left: 15px;
}

.block_ml_20 {
  margin-left: 20px;
}

.block_ml_25 {
  margin-left: 25px;
}

.block_ml_30 {
  margin-left: 30px;
}

.block_ml_35 {
  margin-left: 35px;
}

.block_ml_40 {
  margin-left: 40px;
}

.block_ml_45 {
  margin-left: 45px;
}

.block_ml_50 {
  margin-left: 50px;
}

.block_ml_55 {
  margin-left: 55px;
}

.block_ml_60 {
  margin-left: 60px;
}

.block_ml_65 {
  margin-left: 65px;
}

.block_ml_70 {
  margin-left: 70px;
}

.block_ml_75 {
  margin-left: 75px;
}

.block_ml_80 {
  margin-left: 80px;
}

.block_ml_85 {
  margin-left: 85px;
}

.block_ml_90 {
  margin-left: 90px;
}

.block_ml_95 {
  margin-left: 95px;
}

.block_ml_100 {
  margin-left: 100px;
}

.block_mr_0 {
  margin-right: 0;
}

.block_mr_5 {
  margin-right: 5px;
}

.block_mr_10 {
  margin-right: 10px;
}

.block_mr_15 {
  margin-right: 15px;
}

.block_mr_20 {
  margin-right: 20px;
}

.block_mr_25 {
  margin-right: 25px;
}

.block_mr_30 {
  margin-right: 30px;
}

.block_mr_35 {
  margin-right: 35px;
}

.block_mr_40 {
  margin-right: 40px;
}

.block_mr_45 {
  margin-right: 45px;
}

.block_mr_50 {
  margin-right: 50px;
}

.block_mr_55 {
  margin-right: 55px;
}

.block_mr_60 {
  margin-right: 60px;
}

.block_mr_65 {
  margin-right: 65px;
}

.block_mr_70 {
  margin-right: 70px;
}

.block_mr_75 {
  margin-right: 75px;
}

.block_mr_80 {
  margin-right: 80px;
}

.block_mr_85 {
  margin-right: 85px;
}

.block_mr_90 {
  margin-right: 90px;
}

.block_mr_95 {
  margin-right: 95px;
}

.block_mr_100 {
  margin-right: 100px;
}

.block_pt_0 {
  padding-top: 0;
}

.block_pt_5 {
  padding-top: 5px;
}

.block_pt_10 {
  padding-top: 10px;
}

.block_pt_15 {
  padding-top: 15px;
}

.block_pt_20 {
  padding-top: 20px;
}

.block_pt_25 {
  padding-top: 25px;
}

.block_pt_30 {
  padding-top: 30px;
}

.block_pt_35 {
  padding-top: 35px;
}

.block_pt_40 {
  padding-top: 40px;
}

.block_pt_45 {
  padding-top: 45px;
}

.block_pt_50 {
  padding-top: 50px;
}

.block_pt_55 {
  padding-top: 55px;
}

.block_pt_60 {
  padding-top: 60px;
}

.block_pt_65 {
  padding-top: 65px;
}

.block_pt_70 {
  padding-top: 70px;
}

.block_pt_75 {
  padding-top: 75px;
}

.block_pt_80 {
  padding-top: 80px;
}

.block_pt_85 {
  padding-top: 85px;
}

.block_pt_90 {
  padding-top: 90px;
}

.block_pt_95 {
  padding-top: 95px;
}

.block_pt_100 {
  padding-top: 100px;
}

.block_pb_0 {
  padding-bottom: 0;
}

.block_pb_5 {
  padding-bottom: 5px;
}

.block_pb_10 {
  padding-bottom: 10px;
}

.block_pb_15 {
  padding-bottom: 15px;
}

.block_pb_20 {
  padding-bottom: 20px;
}

.block_pb_25 {
  padding-bottom: 25px;
}

.block_pb_30 {
  padding-bottom: 30px;
}

.block_pb_35 {
  padding-bottom: 35px;
}

.block_pb_40 {
  padding-bottom: 40px;
}

.block_pb_45 {
  padding-bottom: 45px;
}

.block_pb_50 {
  padding-bottom: 50px;
}

.block_pb_55 {
  padding-bottom: 55px;
}

.block_pb_60 {
  padding-bottom: 60px;
}

.block_pb_65 {
  padding-bottom: 65px;
}

.block_pb_70 {
  padding-bottom: 70px;
}

.block_pb_75 {
  padding-bottom: 75px;
}

.block_pb_80 {
  padding-bottom: 80px;
}

.block_pb_85 {
  padding-bottom: 85px;
}

.block_pb_90 {
  padding-bottom: 90px;
}

.block_pb_95 {
  padding-bottom: 95px;
}

.block_pb_100 {
  padding-bottom: 100px;
}

.block_pl_0 {
  padding-left: 0;
}

.block_pl_5 {
  padding-left: 5px;
}

.block_pl_10 {
  padding-left: 10px;
}

.block_pl_15 {
  padding-left: 15px;
}

.block_pl_20 {
  padding-left: 20px;
}

.block_pl_25 {
  padding-left: 25px;
}

.block_pl_30 {
  padding-left: 30px;
}

.block_pl_35 {
  padding-left: 35px;
}

.block_pl_40 {
  padding-left: 40px;
}

.block_pl_45 {
  padding-left: 45px;
}

.block_pl_50 {
  padding-left: 50px;
}

.block_pl_55 {
  padding-left: 55px;
}

.block_pl_60 {
  padding-left: 60px;
}

.block_pl_65 {
  padding-left: 65px;
}

.block_pl_70 {
  padding-left: 70px;
}

.block_pl_75 {
  padding-left: 75px;
}

.block_pl_80 {
  padding-left: 80px;
}

.block_pl_85 {
  padding-left: 85px;
}

.block_pl_90 {
  padding-left: 90px;
}

.block_pl_95 {
  padding-left: 95px;
}

.block_pl_100 {
  padding-left: 100px;
}

.block_pr_0 {
  padding-right: 0;
}

.block_pr_5 {
  padding-right: 5px;
}

.block_pr_10 {
  padding-right: 10px;
}

.block_pr_15 {
  padding-right: 15px;
}

.block_pr_20 {
  padding-right: 20px;
}

.block_pr_25 {
  padding-right: 25px;
}

.block_pr_30 {
  padding-right: 30px;
}

.block_pr_35 {
  padding-right: 35px;
}

.block_pr_40 {
  padding-right: 40px;
}

.block_pr_45 {
  padding-right: 45px;
}

.block_pr_50 {
  padding-right: 50px;
}

.block_pr_55 {
  padding-right: 55px;
}

.block_pr_60 {
  padding-right: 60px;
}

.block_pr_65 {
  padding-right: 65px;
}

.block_pr_70 {
  padding-right: 70px;
}

.block_pr_75 {
  padding-right: 75px;
}

.block_pr_80 {
  padding-right: 80px;
}

.block_pr_85 {
  padding-right: 85px;
}

.block_pr_90 {
  padding-right: 90px;
}

.block_pr_95 {
  padding-right: 95px;
}

.block_pr_100 {
  padding-right: 100px;
}

@media (max-width: 1024px) {
  .block_lg_mt_0 {
    margin-top: 0;
  }
  .block_lg_mt_5 {
    margin-top: 5px;
  }
  .block_lg_mt_10 {
    margin-top: 10px;
  }
  .block_lg_mt_15 {
    margin-top: 15px;
  }
  .block_lg_mt_20 {
    margin-top: 20px;
  }
  .block_lg_mt_25 {
    margin-top: 25px;
  }
  .block_lg_mt_30 {
    margin-top: 30px;
  }
  .block_lg_mt_35 {
    margin-top: 35px;
  }
  .block_lg_mt_40 {
    margin-top: 40px;
  }
  .block_lg_mt_45 {
    margin-top: 45px;
  }
  .block_lg_mt_50 {
    margin-top: 50px;
  }
  .block_lg_mt_55 {
    margin-top: 55px;
  }
  .block_lg_mt_60 {
    margin-top: 60px;
  }
  .block_lg_mt_65 {
    margin-top: 65px;
  }
  .block_lg_mt_70 {
    margin-top: 70px;
  }
  .block_lg_mt_75 {
    margin-top: 75px;
  }
  .block_lg_mt_80 {
    margin-top: 80px;
  }
  .block_lg_mt_85 {
    margin-top: 85px;
  }
  .block_lg_mt_90 {
    margin-top: 90px;
  }
  .block_lg_mt_95 {
    margin-top: 95px;
  }
  .block_lg_mt_100 {
    margin-top: 100px;
  }
  .block_lg_mb_0 {
    margin-bottom: 0;
  }
  .block_lg_mb_5 {
    margin-bottom: 5px;
  }
  .block_lg_mb_10 {
    margin-bottom: 10px;
  }
  .block_lg_mb_15 {
    margin-bottom: 15px;
  }
  .block_lg_mb_20 {
    margin-bottom: 20px;
  }
  .block_lg_mb_25 {
    margin-bottom: 25px;
  }
  .block_lg_mb_30 {
    margin-bottom: 30px;
  }
  .block_lg_mb_35 {
    margin-bottom: 35px;
  }
  .block_lg_mb_40 {
    margin-bottom: 40px;
  }
  .block_lg_mb_45 {
    margin-bottom: 45px;
  }
  .block_lg_mb_50 {
    margin-bottom: 50px;
  }
  .block_lg_mb_55 {
    margin-bottom: 55px;
  }
  .block_lg_mb_60 {
    margin-bottom: 60px;
  }
  .block_lg_mb_65 {
    margin-bottom: 65px;
  }
  .block_lg_mb_70 {
    margin-bottom: 70px;
  }
  .block_lg_mb_75 {
    margin-bottom: 75px;
  }
  .block_lg_mb_80 {
    margin-bottom: 80px;
  }
  .block_lg_mb_85 {
    margin-bottom: 85px;
  }
  .block_lg_mb_90 {
    margin-bottom: 90px;
  }
  .block_lg_mb_95 {
    margin-bottom: 95px;
  }
  .block_lg_mb_100 {
    margin-bottom: 100px;
  }
  .block_lg_ml_0 {
    margin-left: 0;
  }
  .block_lg_ml_5 {
    margin-left: 5px;
  }
  .block_lg_ml_10 {
    margin-left: 10px;
  }
  .block_lg_ml_15 {
    margin-left: 15px;
  }
  .block_lg_ml_20 {
    margin-left: 20px;
  }
  .block_lg_ml_25 {
    margin-left: 25px;
  }
  .block_lg_ml_30 {
    margin-left: 30px;
  }
  .block_lg_ml_35 {
    margin-left: 35px;
  }
  .block_lg_ml_40 {
    margin-left: 40px;
  }
  .block_lg_ml_45 {
    margin-left: 45px;
  }
  .block_lg_ml_50 {
    margin-left: 50px;
  }
  .block_lg_ml_55 {
    margin-left: 55px;
  }
  .block_lg_ml_60 {
    margin-left: 60px;
  }
  .block_lg_ml_65 {
    margin-left: 65px;
  }
  .block_lg_ml_70 {
    margin-left: 70px;
  }
  .block_lg_ml_75 {
    margin-left: 75px;
  }
  .block_lg_ml_80 {
    margin-left: 80px;
  }
  .block_lg_ml_85 {
    margin-left: 85px;
  }
  .block_lg_ml_90 {
    margin-left: 90px;
  }
  .block_lg_ml_95 {
    margin-left: 95px;
  }
  .block_lg_ml_100 {
    margin-left: 100px;
  }
  .block_lg_mr_0 {
    margin-right: 0;
  }
  .block_lg_mr_5 {
    margin-right: 5px;
  }
  .block_lg_mr_10 {
    margin-right: 10px;
  }
  .block_lg_mr_15 {
    margin-right: 15px;
  }
  .block_lg_mr_20 {
    margin-right: 20px;
  }
  .block_lg_mr_25 {
    margin-right: 25px;
  }
  .block_lg_mr_30 {
    margin-right: 30px;
  }
  .block_lg_mr_35 {
    margin-right: 35px;
  }
  .block_lg_mr_40 {
    margin-right: 40px;
  }
  .block_lg_mr_45 {
    margin-right: 45px;
  }
  .block_lg_mr_50 {
    margin-right: 50px;
  }
  .block_lg_mr_55 {
    margin-right: 55px;
  }
  .block_lg_mr_60 {
    margin-right: 60px;
  }
  .block_lg_mr_65 {
    margin-right: 65px;
  }
  .block_lg_mr_70 {
    margin-right: 70px;
  }
  .block_lg_mr_75 {
    margin-right: 75px;
  }
  .block_lg_mr_80 {
    margin-right: 80px;
  }
  .block_lg_mr_85 {
    margin-right: 85px;
  }
  .block_lg_mr_90 {
    margin-right: 90px;
  }
  .block_lg_mr_95 {
    margin-right: 95px;
  }
  .block_lg_mr_100 {
    margin-right: 100px;
  }
  .block_lg_pt_0 {
    padding-top: 0;
  }
  .block_lg_pt_5 {
    padding-top: 5px;
  }
  .block_lg_pt_10 {
    padding-top: 10px;
  }
  .block_lg_pt_15 {
    padding-top: 15px;
  }
  .block_lg_pt_20 {
    padding-top: 20px;
  }
  .block_lg_pt_25 {
    padding-top: 25px;
  }
  .block_lg_pt_30 {
    padding-top: 30px;
  }
  .block_lg_pt_35 {
    padding-top: 35px;
  }
  .block_lg_pt_40 {
    padding-top: 40px;
  }
  .block_lg_pt_45 {
    padding-top: 45px;
  }
  .block_lg_pt_50 {
    padding-top: 50px;
  }
  .block_lg_pt_55 {
    padding-top: 55px;
  }
  .block_lg_pt_60 {
    padding-top: 60px;
  }
  .block_lg_pt_65 {
    padding-top: 65px;
  }
  .block_lg_pt_70 {
    padding-top: 70px;
  }
  .block_lg_pt_75 {
    padding-top: 75px;
  }
  .block_lg_pt_80 {
    padding-top: 80px;
  }
  .block_lg_pt_85 {
    padding-top: 85px;
  }
  .block_lg_pt_90 {
    padding-top: 90px;
  }
  .block_lg_pt_95 {
    padding-top: 95px;
  }
  .block_lg_pt_100 {
    padding-top: 100px;
  }
  .block_lg_pb_0 {
    padding-bottom: 0;
  }
  .block_lg_pb_5 {
    padding-bottom: 5px;
  }
  .block_lg_pb_10 {
    padding-bottom: 10px;
  }
  .block_lg_pb_15 {
    padding-bottom: 15px;
  }
  .block_lg_pb_20 {
    padding-bottom: 20px;
  }
  .block_lg_pb_25 {
    padding-bottom: 25px;
  }
  .block_lg_pb_30 {
    padding-bottom: 30px;
  }
  .block_lg_pb_35 {
    padding-bottom: 35px;
  }
  .block_lg_pb_40 {
    padding-bottom: 40px;
  }
  .block_lg_pb_45 {
    padding-bottom: 45px;
  }
  .block_lg_pb_50 {
    padding-bottom: 50px;
  }
  .block_lg_pb_55 {
    padding-bottom: 55px;
  }
  .block_lg_pb_60 {
    padding-bottom: 60px;
  }
  .block_lg_pb_65 {
    padding-bottom: 65px;
  }
  .block_lg_pb_70 {
    padding-bottom: 70px;
  }
  .block_lg_pb_75 {
    padding-bottom: 75px;
  }
  .block_lg_pb_80 {
    padding-bottom: 80px;
  }
  .block_lg_pb_85 {
    padding-bottom: 85px;
  }
  .block_lg_pb_90 {
    padding-bottom: 90px;
  }
  .block_lg_pb_95 {
    padding-bottom: 95px;
  }
  .block_lg_pb_100 {
    padding-bottom: 100px;
  }
  .block_lg_pl_0 {
    padding-left: 0;
  }
  .block_lg_pl_5 {
    padding-left: 5px;
  }
  .block_lg_pl_10 {
    padding-left: 10px;
  }
  .block_lg_pl_15 {
    padding-left: 15px;
  }
  .block_lg_pl_20 {
    padding-left: 20px;
  }
  .block_lg_pl_25 {
    padding-left: 25px;
  }
  .block_lg_pl_30 {
    padding-left: 30px;
  }
  .block_lg_pl_35 {
    padding-left: 35px;
  }
  .block_lg_pl_40 {
    padding-left: 40px;
  }
  .block_lg_pl_45 {
    padding-left: 45px;
  }
  .block_lg_pl_50 {
    padding-left: 50px;
  }
  .block_lg_pl_55 {
    padding-left: 55px;
  }
  .block_lg_pl_60 {
    padding-left: 60px;
  }
  .block_lg_pl_65 {
    padding-left: 65px;
  }
  .block_lg_pl_70 {
    padding-left: 70px;
  }
  .block_lg_pl_75 {
    padding-left: 75px;
  }
  .block_lg_pl_80 {
    padding-left: 80px;
  }
  .block_lg_pl_85 {
    padding-left: 85px;
  }
  .block_lg_pl_90 {
    padding-left: 90px;
  }
  .block_lg_pl_95 {
    padding-left: 95px;
  }
  .block_lg_pl_100 {
    padding-left: 100px;
  }
  .block_lg_pr_0 {
    padding-right: 0;
  }
  .block_lg_pr_5 {
    padding-right: 5px;
  }
  .block_lg_pr_10 {
    padding-right: 10px;
  }
  .block_lg_pr_15 {
    padding-right: 15px;
  }
  .block_lg_pr_20 {
    padding-right: 20px;
  }
  .block_lg_pr_25 {
    padding-right: 25px;
  }
  .block_lg_pr_30 {
    padding-right: 30px;
  }
  .block_lg_pr_35 {
    padding-right: 35px;
  }
  .block_lg_pr_40 {
    padding-right: 40px;
  }
  .block_lg_pr_45 {
    padding-right: 45px;
  }
  .block_lg_pr_50 {
    padding-right: 50px;
  }
  .block_lg_pr_55 {
    padding-right: 55px;
  }
  .block_lg_pr_60 {
    padding-right: 60px;
  }
  .block_lg_pr_65 {
    padding-right: 65px;
  }
  .block_lg_pr_70 {
    padding-right: 70px;
  }
  .block_lg_pr_75 {
    padding-right: 75px;
  }
  .block_lg_pr_80 {
    padding-right: 80px;
  }
  .block_lg_pr_85 {
    padding-right: 85px;
  }
  .block_lg_pr_90 {
    padding-right: 90px;
  }
  .block_lg_pr_95 {
    padding-right: 95px;
  }
  .block_lg_pr_100 {
    padding-right: 100px;
  }
}

@media (max-width: 768px) {
  .block_md_mt_0 {
    margin-top: 0;
  }
  .block_md_mt_5 {
    margin-top: 5px;
  }
  .block_md_mt_10 {
    margin-top: 10px;
  }
  .block_md_mt_15 {
    margin-top: 15px;
  }
  .block_md_mt_20 {
    margin-top: 20px;
  }
  .block_md_mt_25 {
    margin-top: 25px;
  }
  .block_md_mt_30 {
    margin-top: 30px;
  }
  .block_md_mt_35 {
    margin-top: 35px;
  }
  .block_md_mt_40 {
    margin-top: 40px;
  }
  .block_md_mt_45 {
    margin-top: 45px;
  }
  .block_md_mt_50 {
    margin-top: 50px;
  }
  .block_md_mt_55 {
    margin-top: 55px;
  }
  .block_md_mt_60 {
    margin-top: 60px;
  }
  .block_md_mt_65 {
    margin-top: 65px;
  }
  .block_md_mt_70 {
    margin-top: 70px;
  }
  .block_md_mt_75 {
    margin-top: 75px;
  }
  .block_md_mt_80 {
    margin-top: 80px;
  }
  .block_md_mt_85 {
    margin-top: 85px;
  }
  .block_md_mt_90 {
    margin-top: 90px;
  }
  .block_md_mt_95 {
    margin-top: 95px;
  }
  .block_md_mt_100 {
    margin-top: 100px;
  }
  .block_md_mb_0 {
    margin-bottom: 0;
  }
  .block_md_mb_5 {
    margin-bottom: 5px;
  }
  .block_md_mb_10 {
    margin-bottom: 10px;
  }
  .block_md_mb_15 {
    margin-bottom: 15px;
  }
  .block_md_mb_20 {
    margin-bottom: 20px;
  }
  .block_md_mb_25 {
    margin-bottom: 25px;
  }
  .block_md_mb_30 {
    margin-bottom: 30px;
  }
  .block_md_mb_35 {
    margin-bottom: 35px;
  }
  .block_md_mb_40 {
    margin-bottom: 40px;
  }
  .block_md_mb_45 {
    margin-bottom: 45px;
  }
  .block_md_mb_50 {
    margin-bottom: 50px;
  }
  .block_md_mb_55 {
    margin-bottom: 55px;
  }
  .block_md_mb_60 {
    margin-bottom: 60px;
  }
  .block_md_mb_65 {
    margin-bottom: 65px;
  }
  .block_md_mb_70 {
    margin-bottom: 70px;
  }
  .block_md_mb_75 {
    margin-bottom: 75px;
  }
  .block_md_mb_80 {
    margin-bottom: 80px;
  }
  .block_md_mb_85 {
    margin-bottom: 85px;
  }
  .block_md_mb_90 {
    margin-bottom: 90px;
  }
  .block_md_mb_95 {
    margin-bottom: 95px;
  }
  .block_md_mb_100 {
    margin-bottom: 100px;
  }
  .block_md_ml_0 {
    margin-left: 0;
  }
  .block_md_ml_5 {
    margin-left: 5px;
  }
  .block_md_ml_10 {
    margin-left: 10px;
  }
  .block_md_ml_15 {
    margin-left: 15px;
  }
  .block_md_ml_20 {
    margin-left: 20px;
  }
  .block_md_ml_25 {
    margin-left: 25px;
  }
  .block_md_ml_30 {
    margin-left: 30px;
  }
  .block_md_ml_35 {
    margin-left: 35px;
  }
  .block_md_ml_40 {
    margin-left: 40px;
  }
  .block_md_ml_45 {
    margin-left: 45px;
  }
  .block_md_ml_50 {
    margin-left: 50px;
  }
  .block_md_ml_55 {
    margin-left: 55px;
  }
  .block_md_ml_60 {
    margin-left: 60px;
  }
  .block_md_ml_65 {
    margin-left: 65px;
  }
  .block_md_ml_70 {
    margin-left: 70px;
  }
  .block_md_ml_75 {
    margin-left: 75px;
  }
  .block_md_ml_80 {
    margin-left: 80px;
  }
  .block_md_ml_85 {
    margin-left: 85px;
  }
  .block_md_ml_90 {
    margin-left: 90px;
  }
  .block_md_ml_95 {
    margin-left: 95px;
  }
  .block_md_ml_100 {
    margin-left: 100px;
  }
  .block_md_mr_0 {
    margin-right: 0;
  }
  .block_md_mr_5 {
    margin-right: 5px;
  }
  .block_md_mr_10 {
    margin-right: 10px;
  }
  .block_md_mr_15 {
    margin-right: 15px;
  }
  .block_md_mr_20 {
    margin-right: 20px;
  }
  .block_md_mr_25 {
    margin-right: 25px;
  }
  .block_md_mr_30 {
    margin-right: 30px;
  }
  .block_md_mr_35 {
    margin-right: 35px;
  }
  .block_md_mr_40 {
    margin-right: 40px;
  }
  .block_md_mr_45 {
    margin-right: 45px;
  }
  .block_md_mr_50 {
    margin-right: 50px;
  }
  .block_md_mr_55 {
    margin-right: 55px;
  }
  .block_md_mr_60 {
    margin-right: 60px;
  }
  .block_md_mr_65 {
    margin-right: 65px;
  }
  .block_md_mr_70 {
    margin-right: 70px;
  }
  .block_md_mr_75 {
    margin-right: 75px;
  }
  .block_md_mr_80 {
    margin-right: 80px;
  }
  .block_md_mr_85 {
    margin-right: 85px;
  }
  .block_md_mr_90 {
    margin-right: 90px;
  }
  .block_md_mr_95 {
    margin-right: 95px;
  }
  .block_md_mr_100 {
    margin-right: 100px;
  }
  .block_md_pt_0 {
    padding-top: 0;
  }
  .block_md_pt_5 {
    padding-top: 5px;
  }
  .block_md_pt_10 {
    padding-top: 10px;
  }
  .block_md_pt_15 {
    padding-top: 15px;
  }
  .block_md_pt_20 {
    padding-top: 20px;
  }
  .block_md_pt_25 {
    padding-top: 25px;
  }
  .block_md_pt_30 {
    padding-top: 30px;
  }
  .block_md_pt_35 {
    padding-top: 35px;
  }
  .block_md_pt_40 {
    padding-top: 40px;
  }
  .block_md_pt_45 {
    padding-top: 45px;
  }
  .block_md_pt_50 {
    padding-top: 50px;
  }
  .block_md_pt_55 {
    padding-top: 55px;
  }
  .block_md_pt_60 {
    padding-top: 60px;
  }
  .block_md_pt_65 {
    padding-top: 65px;
  }
  .block_md_pt_70 {
    padding-top: 70px;
  }
  .block_md_pt_75 {
    padding-top: 75px;
  }
  .block_md_pt_80 {
    padding-top: 80px;
  }
  .block_md_pt_85 {
    padding-top: 85px;
  }
  .block_md_pt_90 {
    padding-top: 90px;
  }
  .block_md_pt_95 {
    padding-top: 95px;
  }
  .block_md_pt_100 {
    padding-top: 100px;
  }
  .block_md_pb_0 {
    padding-bottom: 0;
  }
  .block_md_pb_5 {
    padding-bottom: 5px;
  }
  .block_md_pb_10 {
    padding-bottom: 10px;
  }
  .block_md_pb_15 {
    padding-bottom: 15px;
  }
  .block_md_pb_20 {
    padding-bottom: 20px;
  }
  .block_md_pb_25 {
    padding-bottom: 25px;
  }
  .block_md_pb_30 {
    padding-bottom: 30px;
  }
  .block_md_pb_35 {
    padding-bottom: 35px;
  }
  .block_md_pb_40 {
    padding-bottom: 40px;
  }
  .block_md_pb_45 {
    padding-bottom: 45px;
  }
  .block_md_pb_50 {
    padding-bottom: 50px;
  }
  .block_md_pb_55 {
    padding-bottom: 55px;
  }
  .block_md_pb_60 {
    padding-bottom: 60px;
  }
  .block_md_pb_65 {
    padding-bottom: 65px;
  }
  .block_md_pb_70 {
    padding-bottom: 70px;
  }
  .block_md_pb_75 {
    padding-bottom: 75px;
  }
  .block_md_pb_80 {
    padding-bottom: 80px;
  }
  .block_md_pb_85 {
    padding-bottom: 85px;
  }
  .block_md_pb_90 {
    padding-bottom: 90px;
  }
  .block_md_pb_95 {
    padding-bottom: 95px;
  }
  .block_md_pb_100 {
    padding-bottom: 100px;
  }
  .block_md_pl_0 {
    padding-left: 0;
  }
  .block_md_pl_5 {
    padding-left: 5px;
  }
  .block_md_pl_10 {
    padding-left: 10px;
  }
  .block_md_pl_15 {
    padding-left: 15px;
  }
  .block_md_pl_20 {
    padding-left: 20px;
  }
  .block_md_pl_25 {
    padding-left: 25px;
  }
  .block_md_pl_30 {
    padding-left: 30px;
  }
  .block_md_pl_35 {
    padding-left: 35px;
  }
  .block_md_pl_40 {
    padding-left: 40px;
  }
  .block_md_pl_45 {
    padding-left: 45px;
  }
  .block_md_pl_50 {
    padding-left: 50px;
  }
  .block_md_pl_55 {
    padding-left: 55px;
  }
  .block_md_pl_60 {
    padding-left: 60px;
  }
  .block_md_pl_65 {
    padding-left: 65px;
  }
  .block_md_pl_70 {
    padding-left: 70px;
  }
  .block_md_pl_75 {
    padding-left: 75px;
  }
  .block_md_pl_80 {
    padding-left: 80px;
  }
  .block_md_pl_85 {
    padding-left: 85px;
  }
  .block_md_pl_90 {
    padding-left: 90px;
  }
  .block_md_pl_95 {
    padding-left: 95px;
  }
  .block_md_pl_100 {
    padding-left: 100px;
  }
  .block_md_pr_0 {
    padding-right: 0;
  }
  .block_md_pr_5 {
    padding-right: 5px;
  }
  .block_md_pr_10 {
    padding-right: 10px;
  }
  .block_md_pr_15 {
    padding-right: 15px;
  }
  .block_md_pr_20 {
    padding-right: 20px;
  }
  .block_md_pr_25 {
    padding-right: 25px;
  }
  .block_md_pr_30 {
    padding-right: 30px;
  }
  .block_md_pr_35 {
    padding-right: 35px;
  }
  .block_md_pr_40 {
    padding-right: 40px;
  }
  .block_md_pr_45 {
    padding-right: 45px;
  }
  .block_md_pr_50 {
    padding-right: 50px;
  }
  .block_md_pr_55 {
    padding-right: 55px;
  }
  .block_md_pr_60 {
    padding-right: 60px;
  }
  .block_md_pr_65 {
    padding-right: 65px;
  }
  .block_md_pr_70 {
    padding-right: 70px;
  }
  .block_md_pr_75 {
    padding-right: 75px;
  }
  .block_md_pr_80 {
    padding-right: 80px;
  }
  .block_md_pr_85 {
    padding-right: 85px;
  }
  .block_md_pr_90 {
    padding-right: 90px;
  }
  .block_md_pr_95 {
    padding-right: 95px;
  }
  .block_md_pr_100 {
    padding-right: 100px;
  }
}

@media (max-width: 576px) {
  .block_sm_mt_0 {
    margin-top: 0;
  }
  .block_sm_mt_5 {
    margin-top: 5px;
  }
  .block_sm_mt_10 {
    margin-top: 10px;
  }
  .block_sm_mt_15 {
    margin-top: 15px;
  }
  .block_sm_mt_20 {
    margin-top: 20px;
  }
  .block_sm_mt_25 {
    margin-top: 25px;
  }
  .block_sm_mt_30 {
    margin-top: 30px;
  }
  .block_sm_mt_35 {
    margin-top: 35px;
  }
  .block_sm_mt_40 {
    margin-top: 40px;
  }
  .block_sm_mt_45 {
    margin-top: 45px;
  }
  .block_sm_mt_50 {
    margin-top: 50px;
  }
  .block_sm_mt_55 {
    margin-top: 55px;
  }
  .block_sm_mt_60 {
    margin-top: 60px;
  }
  .block_sm_mt_65 {
    margin-top: 65px;
  }
  .block_sm_mt_70 {
    margin-top: 70px;
  }
  .block_sm_mt_75 {
    margin-top: 75px;
  }
  .block_sm_mt_80 {
    margin-top: 80px;
  }
  .block_sm_mt_85 {
    margin-top: 85px;
  }
  .block_sm_mt_90 {
    margin-top: 90px;
  }
  .block_sm_mt_95 {
    margin-top: 95px;
  }
  .block_sm_mt_100 {
    margin-top: 100px;
  }
  .block_sm_mb_0 {
    margin-bottom: 0;
  }
  .block_sm_mb_5 {
    margin-bottom: 5px;
  }
  .block_sm_mb_10 {
    margin-bottom: 10px;
  }
  .block_sm_mb_15 {
    margin-bottom: 15px;
  }
  .block_sm_mb_20 {
    margin-bottom: 20px;
  }
  .block_sm_mb_25 {
    margin-bottom: 25px;
  }
  .block_sm_mb_30 {
    margin-bottom: 30px;
  }
  .block_sm_mb_35 {
    margin-bottom: 35px;
  }
  .block_sm_mb_40 {
    margin-bottom: 40px;
  }
  .block_sm_mb_45 {
    margin-bottom: 45px;
  }
  .block_sm_mb_50 {
    margin-bottom: 50px;
  }
  .block_sm_mb_55 {
    margin-bottom: 55px;
  }
  .block_sm_mb_60 {
    margin-bottom: 60px;
  }
  .block_sm_mb_65 {
    margin-bottom: 65px;
  }
  .block_sm_mb_70 {
    margin-bottom: 70px;
  }
  .block_sm_mb_75 {
    margin-bottom: 75px;
  }
  .block_sm_mb_80 {
    margin-bottom: 80px;
  }
  .block_sm_mb_85 {
    margin-bottom: 85px;
  }
  .block_sm_mb_90 {
    margin-bottom: 90px;
  }
  .block_sm_mb_95 {
    margin-bottom: 95px;
  }
  .block_sm_mb_100 {
    margin-bottom: 100px;
  }
  .block_sm_ml_0 {
    margin-left: 0;
  }
  .block_sm_ml_5 {
    margin-left: 5px;
  }
  .block_sm_ml_10 {
    margin-left: 10px;
  }
  .block_sm_ml_15 {
    margin-left: 15px;
  }
  .block_sm_ml_20 {
    margin-left: 20px;
  }
  .block_sm_ml_25 {
    margin-left: 25px;
  }
  .block_sm_ml_30 {
    margin-left: 30px;
  }
  .block_sm_ml_35 {
    margin-left: 35px;
  }
  .block_sm_ml_40 {
    margin-left: 40px;
  }
  .block_sm_ml_45 {
    margin-left: 45px;
  }
  .block_sm_ml_50 {
    margin-left: 50px;
  }
  .block_sm_ml_55 {
    margin-left: 55px;
  }
  .block_sm_ml_60 {
    margin-left: 60px;
  }
  .block_sm_ml_65 {
    margin-left: 65px;
  }
  .block_sm_ml_70 {
    margin-left: 70px;
  }
  .block_sm_ml_75 {
    margin-left: 75px;
  }
  .block_sm_ml_80 {
    margin-left: 80px;
  }
  .block_sm_ml_85 {
    margin-left: 85px;
  }
  .block_sm_ml_90 {
    margin-left: 90px;
  }
  .block_sm_ml_95 {
    margin-left: 95px;
  }
  .block_sm_ml_100 {
    margin-left: 100px;
  }
  .block_sm_mr_0 {
    margin-right: 0;
  }
  .block_sm_mr_5 {
    margin-right: 5px;
  }
  .block_sm_mr_10 {
    margin-right: 10px;
  }
  .block_sm_mr_15 {
    margin-right: 15px;
  }
  .block_sm_mr_20 {
    margin-right: 20px;
  }
  .block_sm_mr_25 {
    margin-right: 25px;
  }
  .block_sm_mr_30 {
    margin-right: 30px;
  }
  .block_sm_mr_35 {
    margin-right: 35px;
  }
  .block_sm_mr_40 {
    margin-right: 40px;
  }
  .block_sm_mr_45 {
    margin-right: 45px;
  }
  .block_sm_mr_50 {
    margin-right: 50px;
  }
  .block_sm_mr_55 {
    margin-right: 55px;
  }
  .block_sm_mr_60 {
    margin-right: 60px;
  }
  .block_sm_mr_65 {
    margin-right: 65px;
  }
  .block_sm_mr_70 {
    margin-right: 70px;
  }
  .block_sm_mr_75 {
    margin-right: 75px;
  }
  .block_sm_mr_80 {
    margin-right: 80px;
  }
  .block_sm_mr_85 {
    margin-right: 85px;
  }
  .block_sm_mr_90 {
    margin-right: 90px;
  }
  .block_sm_mr_95 {
    margin-right: 95px;
  }
  .block_sm_mr_100 {
    margin-right: 100px;
  }
  .block_sm_pt_0 {
    padding-top: 0;
  }
  .block_sm_pt_5 {
    padding-top: 5px;
  }
  .block_sm_pt_10 {
    padding-top: 10px;
  }
  .block_sm_pt_15 {
    padding-top: 15px;
  }
  .block_sm_pt_20 {
    padding-top: 20px;
  }
  .block_sm_pt_25 {
    padding-top: 25px;
  }
  .block_sm_pt_30 {
    padding-top: 30px;
  }
  .block_sm_pt_35 {
    padding-top: 35px;
  }
  .block_sm_pt_40 {
    padding-top: 40px;
  }
  .block_sm_pt_45 {
    padding-top: 45px;
  }
  .block_sm_pt_50 {
    padding-top: 50px;
  }
  .block_sm_pt_55 {
    padding-top: 55px;
  }
  .block_sm_pt_60 {
    padding-top: 60px;
  }
  .block_sm_pt_65 {
    padding-top: 65px;
  }
  .block_sm_pt_70 {
    padding-top: 70px;
  }
  .block_sm_pt_75 {
    padding-top: 75px;
  }
  .block_sm_pt_80 {
    padding-top: 80px;
  }
  .block_sm_pt_85 {
    padding-top: 85px;
  }
  .block_sm_pt_90 {
    padding-top: 90px;
  }
  .block_sm_pt_95 {
    padding-top: 95px;
  }
  .block_sm_pt_100 {
    padding-top: 100px;
  }
  .block_sm_pb_0 {
    padding-bottom: 0;
  }
  .block_sm_pb_5 {
    padding-bottom: 5px;
  }
  .block_sm_pb_10 {
    padding-bottom: 10px;
  }
  .block_sm_pb_15 {
    padding-bottom: 15px;
  }
  .block_sm_pb_20 {
    padding-bottom: 20px;
  }
  .block_sm_pb_25 {
    padding-bottom: 25px;
  }
  .block_sm_pb_30 {
    padding-bottom: 30px;
  }
  .block_sm_pb_35 {
    padding-bottom: 35px;
  }
  .block_sm_pb_40 {
    padding-bottom: 40px;
  }
  .block_sm_pb_45 {
    padding-bottom: 45px;
  }
  .block_sm_pb_50 {
    padding-bottom: 50px;
  }
  .block_sm_pb_55 {
    padding-bottom: 55px;
  }
  .block_sm_pb_60 {
    padding-bottom: 60px;
  }
  .block_sm_pb_65 {
    padding-bottom: 65px;
  }
  .block_sm_pb_70 {
    padding-bottom: 70px;
  }
  .block_sm_pb_75 {
    padding-bottom: 75px;
  }
  .block_sm_pb_80 {
    padding-bottom: 80px;
  }
  .block_sm_pb_85 {
    padding-bottom: 85px;
  }
  .block_sm_pb_90 {
    padding-bottom: 90px;
  }
  .block_sm_pb_95 {
    padding-bottom: 95px;
  }
  .block_sm_pb_100 {
    padding-bottom: 100px;
  }
  .block_sm_pl_0 {
    padding-left: 0;
  }
  .block_sm_pl_5 {
    padding-left: 5px;
  }
  .block_sm_pl_10 {
    padding-left: 10px;
  }
  .block_sm_pl_15 {
    padding-left: 15px;
  }
  .block_sm_pl_20 {
    padding-left: 20px;
  }
  .block_sm_pl_25 {
    padding-left: 25px;
  }
  .block_sm_pl_30 {
    padding-left: 30px;
  }
  .block_sm_pl_35 {
    padding-left: 35px;
  }
  .block_sm_pl_40 {
    padding-left: 40px;
  }
  .block_sm_pl_45 {
    padding-left: 45px;
  }
  .block_sm_pl_50 {
    padding-left: 50px;
  }
  .block_sm_pl_55 {
    padding-left: 55px;
  }
  .block_sm_pl_60 {
    padding-left: 60px;
  }
  .block_sm_pl_65 {
    padding-left: 65px;
  }
  .block_sm_pl_70 {
    padding-left: 70px;
  }
  .block_sm_pl_75 {
    padding-left: 75px;
  }
  .block_sm_pl_80 {
    padding-left: 80px;
  }
  .block_sm_pl_85 {
    padding-left: 85px;
  }
  .block_sm_pl_90 {
    padding-left: 90px;
  }
  .block_sm_pl_95 {
    padding-left: 95px;
  }
  .block_sm_pl_100 {
    padding-left: 100px;
  }
  .block_sm_pr_0 {
    padding-right: 0;
  }
  .block_sm_pr_5 {
    padding-right: 5px;
  }
  .block_sm_pr_10 {
    padding-right: 10px;
  }
  .block_sm_pr_15 {
    padding-right: 15px;
  }
  .block_sm_pr_20 {
    padding-right: 20px;
  }
  .block_sm_pr_25 {
    padding-right: 25px;
  }
  .block_sm_pr_30 {
    padding-right: 30px;
  }
  .block_sm_pr_35 {
    padding-right: 35px;
  }
  .block_sm_pr_40 {
    padding-right: 40px;
  }
  .block_sm_pr_45 {
    padding-right: 45px;
  }
  .block_sm_pr_50 {
    padding-right: 50px;
  }
  .block_sm_pr_55 {
    padding-right: 55px;
  }
  .block_sm_pr_60 {
    padding-right: 60px;
  }
  .block_sm_pr_65 {
    padding-right: 65px;
  }
  .block_sm_pr_70 {
    padding-right: 70px;
  }
  .block_sm_pr_75 {
    padding-right: 75px;
  }
  .block_sm_pr_80 {
    padding-right: 80px;
  }
  .block_sm_pr_85 {
    padding-right: 85px;
  }
  .block_sm_pr_90 {
    padding-right: 90px;
  }
  .block_sm_pr_95 {
    padding-right: 95px;
  }
  .block_sm_pr_100 {
    padding-right: 100px;
  }
}

@media (max-width: 425px) {
  .block_xs_mt_0 {
    margin-top: 0;
  }
  .block_xs_mt_5 {
    margin-top: 5px;
  }
  .block_xs_mt_10 {
    margin-top: 10px;
  }
  .block_xs_mt_15 {
    margin-top: 15px;
  }
  .block_xs_mt_20 {
    margin-top: 20px;
  }
  .block_xs_mt_25 {
    margin-top: 25px;
  }
  .block_xs_mt_30 {
    margin-top: 30px;
  }
  .block_xs_mt_35 {
    margin-top: 35px;
  }
  .block_xs_mt_40 {
    margin-top: 40px;
  }
  .block_xs_mt_45 {
    margin-top: 45px;
  }
  .block_xs_mt_50 {
    margin-top: 50px;
  }
  .block_xs_mt_55 {
    margin-top: 55px;
  }
  .block_xs_mt_60 {
    margin-top: 60px;
  }
  .block_xs_mt_65 {
    margin-top: 65px;
  }
  .block_xs_mt_70 {
    margin-top: 70px;
  }
  .block_xs_mt_75 {
    margin-top: 75px;
  }
  .block_xs_mt_80 {
    margin-top: 80px;
  }
  .block_xs_mt_85 {
    margin-top: 85px;
  }
  .block_xs_mt_90 {
    margin-top: 90px;
  }
  .block_xs_mt_95 {
    margin-top: 95px;
  }
  .block_xs_mt_100 {
    margin-top: 100px;
  }
  .block_xs_mb_0 {
    margin-bottom: 0;
  }
  .block_xs_mb_5 {
    margin-bottom: 5px;
  }
  .block_xs_mb_10 {
    margin-bottom: 10px;
  }
  .block_xs_mb_15 {
    margin-bottom: 15px;
  }
  .block_xs_mb_20 {
    margin-bottom: 20px;
  }
  .block_xs_mb_25 {
    margin-bottom: 25px;
  }
  .block_xs_mb_30 {
    margin-bottom: 30px;
  }
  .block_xs_mb_35 {
    margin-bottom: 35px;
  }
  .block_xs_mb_40 {
    margin-bottom: 40px;
  }
  .block_xs_mb_45 {
    margin-bottom: 45px;
  }
  .block_xs_mb_50 {
    margin-bottom: 50px;
  }
  .block_xs_mb_55 {
    margin-bottom: 55px;
  }
  .block_xs_mb_60 {
    margin-bottom: 60px;
  }
  .block_xs_mb_65 {
    margin-bottom: 65px;
  }
  .block_xs_mb_70 {
    margin-bottom: 70px;
  }
  .block_xs_mb_75 {
    margin-bottom: 75px;
  }
  .block_xs_mb_80 {
    margin-bottom: 80px;
  }
  .block_xs_mb_85 {
    margin-bottom: 85px;
  }
  .block_xs_mb_90 {
    margin-bottom: 90px;
  }
  .block_xs_mb_95 {
    margin-bottom: 95px;
  }
  .block_xs_mb_100 {
    margin-bottom: 100px;
  }
  .block_xs_ml_0 {
    margin-left: 0;
  }
  .block_xs_ml_5 {
    margin-left: 5px;
  }
  .block_xs_ml_10 {
    margin-left: 10px;
  }
  .block_xs_ml_15 {
    margin-left: 15px;
  }
  .block_xs_ml_20 {
    margin-left: 20px;
  }
  .block_xs_ml_25 {
    margin-left: 25px;
  }
  .block_xs_ml_30 {
    margin-left: 30px;
  }
  .block_xs_ml_35 {
    margin-left: 35px;
  }
  .block_xs_ml_40 {
    margin-left: 40px;
  }
  .block_xs_ml_45 {
    margin-left: 45px;
  }
  .block_xs_ml_50 {
    margin-left: 50px;
  }
  .block_xs_ml_55 {
    margin-left: 55px;
  }
  .block_xs_ml_60 {
    margin-left: 60px;
  }
  .block_xs_ml_65 {
    margin-left: 65px;
  }
  .block_xs_ml_70 {
    margin-left: 70px;
  }
  .block_xs_ml_75 {
    margin-left: 75px;
  }
  .block_xs_ml_80 {
    margin-left: 80px;
  }
  .block_xs_ml_85 {
    margin-left: 85px;
  }
  .block_xs_ml_90 {
    margin-left: 90px;
  }
  .block_xs_ml_95 {
    margin-left: 95px;
  }
  .block_xs_ml_100 {
    margin-left: 100px;
  }
  .block_xs_mr_0 {
    margin-right: 0;
  }
  .block_xs_mr_5 {
    margin-right: 5px;
  }
  .block_xs_mr_10 {
    margin-right: 10px;
  }
  .block_xs_mr_15 {
    margin-right: 15px;
  }
  .block_xs_mr_20 {
    margin-right: 20px;
  }
  .block_xs_mr_25 {
    margin-right: 25px;
  }
  .block_xs_mr_30 {
    margin-right: 30px;
  }
  .block_xs_mr_35 {
    margin-right: 35px;
  }
  .block_xs_mr_40 {
    margin-right: 40px;
  }
  .block_xs_mr_45 {
    margin-right: 45px;
  }
  .block_xs_mr_50 {
    margin-right: 50px;
  }
  .block_xs_mr_55 {
    margin-right: 55px;
  }
  .block_xs_mr_60 {
    margin-right: 60px;
  }
  .block_xs_mr_65 {
    margin-right: 65px;
  }
  .block_xs_mr_70 {
    margin-right: 70px;
  }
  .block_xs_mr_75 {
    margin-right: 75px;
  }
  .block_xs_mr_80 {
    margin-right: 80px;
  }
  .block_xs_mr_85 {
    margin-right: 85px;
  }
  .block_xs_mr_90 {
    margin-right: 90px;
  }
  .block_xs_mr_95 {
    margin-right: 95px;
  }
  .block_xs_mr_100 {
    margin-right: 100px;
  }
  .block_xs_pt_0 {
    padding-top: 0;
  }
  .block_xs_pt_5 {
    padding-top: 5px;
  }
  .block_xs_pt_10 {
    padding-top: 10px;
  }
  .block_xs_pt_15 {
    padding-top: 15px;
  }
  .block_xs_pt_20 {
    padding-top: 20px;
  }
  .block_xs_pt_25 {
    padding-top: 25px;
  }
  .block_xs_pt_30 {
    padding-top: 30px;
  }
  .block_xs_pt_35 {
    padding-top: 35px;
  }
  .block_xs_pt_40 {
    padding-top: 40px;
  }
  .block_xs_pt_45 {
    padding-top: 45px;
  }
  .block_xs_pt_50 {
    padding-top: 50px;
  }
  .block_xs_pt_55 {
    padding-top: 55px;
  }
  .block_xs_pt_60 {
    padding-top: 60px;
  }
  .block_xs_pt_65 {
    padding-top: 65px;
  }
  .block_xs_pt_70 {
    padding-top: 70px;
  }
  .block_xs_pt_75 {
    padding-top: 75px;
  }
  .block_xs_pt_80 {
    padding-top: 80px;
  }
  .block_xs_pt_85 {
    padding-top: 85px;
  }
  .block_xs_pt_90 {
    padding-top: 90px;
  }
  .block_xs_pt_95 {
    padding-top: 95px;
  }
  .block_xs_pt_100 {
    padding-top: 100px;
  }
  .block_xs_pb_0 {
    padding-bottom: 0;
  }
  .block_xs_pb_5 {
    padding-bottom: 5px;
  }
  .block_xs_pb_10 {
    padding-bottom: 10px;
  }
  .block_xs_pb_15 {
    padding-bottom: 15px;
  }
  .block_xs_pb_20 {
    padding-bottom: 20px;
  }
  .block_xs_pb_25 {
    padding-bottom: 25px;
  }
  .block_xs_pb_30 {
    padding-bottom: 30px;
  }
  .block_xs_pb_35 {
    padding-bottom: 35px;
  }
  .block_xs_pb_40 {
    padding-bottom: 40px;
  }
  .block_xs_pb_45 {
    padding-bottom: 45px;
  }
  .block_xs_pb_50 {
    padding-bottom: 50px;
  }
  .block_xs_pb_55 {
    padding-bottom: 55px;
  }
  .block_xs_pb_60 {
    padding-bottom: 60px;
  }
  .block_xs_pb_65 {
    padding-bottom: 65px;
  }
  .block_xs_pb_70 {
    padding-bottom: 70px;
  }
  .block_xs_pb_75 {
    padding-bottom: 75px;
  }
  .block_xs_pb_80 {
    padding-bottom: 80px;
  }
  .block_xs_pb_85 {
    padding-bottom: 85px;
  }
  .block_xs_pb_90 {
    padding-bottom: 90px;
  }
  .block_xs_pb_95 {
    padding-bottom: 95px;
  }
  .block_xs_pb_100 {
    padding-bottom: 100px;
  }
  .block_xs_pl_0 {
    padding-left: 0;
  }
  .block_xs_pl_5 {
    padding-left: 5px;
  }
  .block_xs_pl_10 {
    padding-left: 10px;
  }
  .block_xs_pl_15 {
    padding-left: 15px;
  }
  .block_xs_pl_20 {
    padding-left: 20px;
  }
  .block_xs_pl_25 {
    padding-left: 25px;
  }
  .block_xs_pl_30 {
    padding-left: 30px;
  }
  .block_xs_pl_35 {
    padding-left: 35px;
  }
  .block_xs_pl_40 {
    padding-left: 40px;
  }
  .block_xs_pl_45 {
    padding-left: 45px;
  }
  .block_xs_pl_50 {
    padding-left: 50px;
  }
  .block_xs_pl_55 {
    padding-left: 55px;
  }
  .block_xs_pl_60 {
    padding-left: 60px;
  }
  .block_xs_pl_65 {
    padding-left: 65px;
  }
  .block_xs_pl_70 {
    padding-left: 70px;
  }
  .block_xs_pl_75 {
    padding-left: 75px;
  }
  .block_xs_pl_80 {
    padding-left: 80px;
  }
  .block_xs_pl_85 {
    padding-left: 85px;
  }
  .block_xs_pl_90 {
    padding-left: 90px;
  }
  .block_xs_pl_95 {
    padding-left: 95px;
  }
  .block_xs_pl_100 {
    padding-left: 100px;
  }
  .block_xs_pr_0 {
    padding-right: 0;
  }
  .block_xs_pr_5 {
    padding-right: 5px;
  }
  .block_xs_pr_10 {
    padding-right: 10px;
  }
  .block_xs_pr_15 {
    padding-right: 15px;
  }
  .block_xs_pr_20 {
    padding-right: 20px;
  }
  .block_xs_pr_25 {
    padding-right: 25px;
  }
  .block_xs_pr_30 {
    padding-right: 30px;
  }
  .block_xs_pr_35 {
    padding-right: 35px;
  }
  .block_xs_pr_40 {
    padding-right: 40px;
  }
  .block_xs_pr_45 {
    padding-right: 45px;
  }
  .block_xs_pr_50 {
    padding-right: 50px;
  }
  .block_xs_pr_55 {
    padding-right: 55px;
  }
  .block_xs_pr_60 {
    padding-right: 60px;
  }
  .block_xs_pr_65 {
    padding-right: 65px;
  }
  .block_xs_pr_70 {
    padding-right: 70px;
  }
  .block_xs_pr_75 {
    padding-right: 75px;
  }
  .block_xs_pr_80 {
    padding-right: 80px;
  }
  .block_xs_pr_85 {
    padding-right: 85px;
  }
  .block_xs_pr_90 {
    padding-right: 90px;
  }
  .block_xs_pr_95 {
    padding-right: 95px;
  }
  .block_xs_pr_100 {
    padding-right: 100px;
  }
}

.visible_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.visible_b {
  display: block;
}

.visible_ib {
  display: inline-block;
}

.visible_table {
  display: table;
}

.visible_h {
  display: none;
}

@media (max-width: 1024px) {
  .visible_lg_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .visible_lg_b {
    display: block;
  }
  .visible_lg_ib {
    display: inline-block;
  }
  .visible_lg_table {
    display: table;
  }
  .visible_lg_h {
    display: none;
  }
}

@media (max-width: 768px) {
  .visible_md_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .visible_md_b {
    display: block;
  }
  .visible_md_ib {
    display: inline-block;
  }
  .visible_md_table {
    display: table;
  }
  .visible_md_h {
    display: none;
  }
}

@media (max-width: 576px) {
  .visible_sm_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .visible_sm_b {
    display: block;
  }
  .visible_sm_ib {
    display: inline-block;
  }
  .visible_sm_table {
    display: table;
  }
  .visible_sm_h {
    display: none;
  }
}

@media (max-width: 425px) {
  .visible_xs_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .visible_xs_b {
    display: block;
  }
  .visible_xs_ib {
    display: inline-block;
  }
  .visible_xs_table {
    display: table;
  }
  .visible_xs_h {
    display: none;
  }
}

.text_left {
  text-align: left;
}

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

@media (max-width: 1024px) {
  .text_lg_left {
    text-align: left;
  }
  .text_lg_center {
    text-align: center;
  }
  .text_lg_right {
    text-align: right;
  }
}

@media (max-width: 768px) {
  .text_md_left {
    text-align: left;
  }
  .text_md_center {
    text-align: center;
  }
  .text_md_right {
    text-align: right;
  }
}

@media (max-width: 576px) {
  .text_sm_left {
    text-align: left;
  }
  .text_sm_center {
    text-align: center;
  }
  .text_sm_right {
    text-align: right;
  }
}

@media (max-width: 425px) {
  .text_xs_left {
    text-align: left;
  }
  .text_xs_center {
    text-align: center;
  }
  .text_xs_right {
    text-align: right;
  }
}

.text_up {
  text-transform: uppercase;
}

.text_low {
  text-transform: lowercase;
}

.text_u {
  text-decoration: underline;
}

.text_none {
  text-decoration: none;
}

.text_white {
  color: #ffffff;
}

.text_black {
  color: #000000;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #fff;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

img {
  max-width: 100%;
  font-size: 0;
}

.btn {
  padding: 21px 37px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  border-radius: 3px;
  text-transform: uppercase;
  -webkit-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
  border-bottom: 3px solid #806647;
}

.btn.btn_active {
  background: #c7b299;
}

.btn.btn_active:hover {
  -webkit-box-shadow: 0 0 3px 3px grey;
          box-shadow: 0 0 3px 3px grey;
}

.btn.btn_active-dark {
  background: #998675;
}

.btn.btn_small {
  color: #000;
  padding: 10px 25px;
  border-radius: 2px;
  border-bottom: 1px solid #ebebeb;
}

.btn.btn_small-active, .btn.btn_small:hover {
  background: #c7b299;
  color: #fff;
}

.menu-classic {
  list-style-type: none;
}

.header .slick-dots li button, .header .slick-dots .slick-active button {
  border: none;
  outline: none;
  background: transparent;
  color: transparent;
}

.header__slider {
  width: 100%;
  height: 100vh;
}

.header-slider__item {
  width: inherit;
  height: inherit;
  overflow: hidden;
}

.header-slider__item img {
  width: inherit;
  height: 100vh;
}

.header .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40px;
  height: 73px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.header .slick-arrow svg {
  fill: #a3a2a0;
}

.header .slick-arrow svg:hover {
  fill: #c7b299;
}

.header .slick-arrow ~ .slick-next {
  right: 150px;
}

.header .slick-prev {
  left: 150px;
  z-index: 1;
}

.header .slick-dots {
  padding: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .slick-dots li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 10px;
}

.header .slick-dots li:last-child {
  margin-right: 0;
}

.header .slick-dots li button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding: 0;
  background: #989796;
  border: 2px solid transparent;
}

.header .slick-dots .slick-active button {
  border: 2px solid #c7b299;
}

.header {
  min-height: 100vh;
  position: relative;
}

.header .container {
  margin-top: -100vh;
}

.header .container > .row:last-child {
  min-height: 90vh;
}

.header__logo {
  fill: #fff;
  -webkit-transition: all .1s;
  transition: all .1s;
}

.header__logo:hover {
  fill: #c7b299;
}

.header__top {
  height: 110px;
}

.header__search {
  position: relative;
  text-decoration: none;
}

.header__search_hide {
  fill: #fff;
}

.header__search_input {
  position: absolute;
  top: 25px;
  right: 0;
  outline: none;
  border: 2px solid white;
  border-radius: 10px;
  height: 50px;
  background: transparent;
  color: #fff;
  font-size: 1.3em;
  padding: 20px;
  display: none;
}

.header-menu__item {
  display: inline-block;
  margin-right: 30px;
}

.header-menu__item:last-child {
  margin-right: 0;
}

.header-menu__link {
  color: #fff;
  text-decoration: none;
  -webkit-transition: all .1s;
  transition: all .1s;
}

.header-menu__link:hover {
  color: #c7b299;
}

.header__title {
  text-align: center;
}

.header__title_subtitle {
  font-size: 36px;
}

.header__title_text {
  font-size: 52px;
}

.header__title_description {
  line-height: 24px;
}

.section {
  color: #555555;
}

.section__title, .section__subtitle {
  color: #555555;
  text-align: center;
}

.section__title {
  font-size: 30px;
}

.section__subtitle {
  line-height: 28px;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.information {
  text-align: center;
}

.information_bg {
  padding: 80px 0;
  background: #fff;
}

.information__item {
  -webkit-transition: all 1s 1s;
  transition: all 1s 1s;
  margin-left: -100%;
}

.information__item-icon {
  fill: #555555;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.information__item-icon:first-child {
  margin-bottom: 30px;
}

.information__item-icon:last-child {
  fill: #f1eee9;
}

.information__item:hover .information__item-icon {
  fill: #c7b299;
}

.information__item:hover .information__item-title {
  color: #c7b299;
}

.information__item:first-child:hover .information__item-icon:first-child {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.information__item:nth-child(2):hover .information__item-icon:first-child {
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
}

.information__item:nth-child(3):hover .information__item-icon:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.information__item:last-child:hover .information__item-icon:first-child {
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

.information__item-title {
  font-size: 22px;
}

.information__item-subtitle {
  line-height: 24px;
  min-height: 72px;
}

.ideas__images img:first-child, .ideas__images img:last-child {
  position: absolute;
  bottom: 0;
}

.ideas {
  overflow: hidden;
}

.ideas_bg {
  background: #fbfaf8;
}

.ideas__images {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ideas__images img {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.ideas__images img:first-child {
  left: -150%;
}

.ideas__images img:last-child {
  right: -150%;
}

.ideas__images img:nth-child(2) {
  z-index: 2;
  opacity: 0;
}

.purchase {
  background: -webkit-linear-gradient(left, #211b19 1%, #4e3427 100%);
  padding: 50px 0;
  margin-left: -200%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.purchase__title {
  font-size: 28px;
}

.purchase__title_f-w {
  color: #c7b299;
}

.purchase__subtitle {
  font-size: 18px;
  color: #615855;
}

.purchase .btn {
  border-bottom: 3px solid #806647;
}

.projects__tab:checked ~ .btn_small {
  background: #c7b299;
  color: #fff;
}

.projects__item {
  position: relative;
}

.projects__item-img {
  width: 100%;
  height: 225px;
  overflow: hidden;
}

.projects__item-img img {
  width: inherit;
  height: 100%;
}

.projects__item-description {
  background: #fbfaf8;
  position: relative;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.projects__item-description::before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 10px 15px;
  border-color: transparent transparent #fbfaf8 transparent;
  position: absolute;
  top: -10px;
  z-index: 2;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.projects__item-description::after {
  content: '';
  width: 100%;
  height: 225px;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: -225px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
  z-index: 1;
}

.projects__item-description:hover {
  background: #362f2d;
}

.projects__item-description:hover::after {
  opacity: 1;
}

.projects__item-description:hover::before {
  border-color: transparent transparent #362f2d transparent;
}

.projects__item-description:hover .projects__item-description_title {
  color: #fff;
}

.projects__item-description:hover .projects__item-description_subtitle {
  color: #c7b299;
}

.projects__item-description_title {
  color: #c7b299;
}

.projects__item-description_subtitle {
  color: #d1d1d1;
}

.projects__item-description_link {
  position: absolute;
  top: -125px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
  opacity: 0;
}

.projects__item-description_link svg {
  fill: #fff;
}

.projects__item-description_link svg:hover {
  fill: #c7b299;
}

.projects__item-description:hover .projects__item-description_link {
  opacity: 1;
}

.presentation_bg {
  position: relative;
  height: 705px;
}

.presentation_bg video {
  height: inherit;
  width: 100%;
  -o-object-fit: inherit;
     object-fit: inherit;
}

.presentation__video-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.presentation__video-container_active {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.presentation__video-container_play {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  outline: none;
  border: none;
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.presentation__video-container_play svg {
  fill: #fff;
}

.presentation__video-container_play:hover svg {
  fill: #c7b299;
}

.presentation__video-container_time {
  color: #c7b299;
}

.presentation__video-container_progress-bar {
  height: 5px;
  border: 1px solid #c7b299;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.presentation__video-container_progress-bar_progress {
  width: 0%;
  height: inherit;
  background: #c7b299;
  -webkit-transition: all .1s;
  transition: all .1s;
}

.mobile {
  overflow: hidden;
}

.mobile_bg {
  background: #fbfaf8;
}

.mobile__item {
  -webkit-transition: all 1s 1s;
  transition: all 1s 1s;
}

.mobile__item:first-child {
  margin-left: -100%;
}

.mobile__item:last-child {
  position: absolute;
  right: -100%;
}

.mobile__item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mobile__title {
  text-align: left;
}

.mobile__subtitle {
  text-align: left;
  line-height: 28px;
}

.mobile__list {
  list-style: none;
}

.mobile__list li {
  list-style-image: url("../img/mobile__list-item.svg");
  position: relative;
  margin-left: -200%;
  opacity: 0;
}

.mobile__list li span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.statistic {
  color: #fff;
}

.statistic_bg {
  background: -webkit-linear-gradient(left, #211b19 1%, #4e3427 100%);
}

.statistic__icon_active {
  fill: #c7b299;
}

.statistic__line_white {
  fill: #fff;
}

.statistic__subtitle {
  text-transform: uppercase;
  color: #c7b299;
}
/*# sourceMappingURL=style.css.map */