<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Gulp project
        link(rel="stylesheet", href="./build/css/common-style.css")
    body
        h1 Инструментарий (пока в разработке)
        h2 Тест snap svg
        svg#svg
        p#message Нажмите на круг

        h2 Вёрстка на grid css
        include ../projects/01/index_01.pug

        //скрипты не трогать!
        script(src="./build/script/snap.svg-min.js")
        script(src="./build/script/common-script.js")