section.section.ideas
  .ideas_bg.block_pt_85
    .container
      .row.justify-content-center
        .col-md-9
          h2.section__title Waxom is Realization of your Ideas.
          p.section__subtitle.block_mt_30.block_mb_40
            | Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
      .row
        .col-md-12.ideas__images
          img(src="../img/browser-left.jpg" alt="")
          img(src="../img/browser-center.jpg" alt="")
          img(src="../img/browser-right.jpg" alt="")
