section.section.mobile
  .container-fluid.mobile_bg.block_pt_80
    .row
      .col-md-6.mobile__item.mobile__item-img
        img(src="../img/mobile-hand.png")
      .col-md-6.align-self-center.mobile__item
        h2.section__title.mobile__title.block_mb_40 Excellent for Mobile Devices.
        p.section__subtitle.mobile__subtitle Qisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius claritas. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
        ul.block_ml_100.block_mt_40.mobile__list
          li.block_mb_10.mobile__list-item #[span Nam liber tempor cum soluta nobis eleifend option;]
          li.block_mb_10.mobile__list-item #[span Option congue nihil imperdiet doming id quod mazim placerat facer;]
          li.block_mb_10.mobile__list-item #[span Eodem modo typi, qui nunc nobis videntur parum futurum;]
          li.mobile__list-item #[span Investigationes demonstraverunt lectores]
