section.purchase
  .container
    .row.justify-content-between.align-items-center
      .col-md-7
        h2.purchase__title.block_mb_15
          span.purchase__title_f-w Waxom
          | &nbsp;Multipurpose WordPress Theme
        p.purchase__subtitle Don't Forget to Rate the Template. Thanks so much!
      a.btn.btn_active.block_mr_15(href='#') Purchase Now
